#send_message {
    background-image: url("assets/btn-msg.png");
}
#send_message:hover {
    background-image: url("assets/btn-msg-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
}

#send_invite {
    background-image: url("assets/btn-send-invite.png");
}
#send_invite:hover {
    background-image: url("assets/btn-send-invite-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
}
#invite_waiting {
    background-image: url("assets/btn-invited.png");
}
#invite_waiting:hover {
    background-image: url("assets/btn-invited-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
}
#delete_friend {
    background-image: url("assets/btn-delete-friend.png");
}
#delete_friend:hover {
    background-image: url("assets/btn-delete-friend-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
}

#change_personal_data {
    background-image: url("assets/btn-pdata.png");
}
#change_personal_data:hover {
    background-image: url("assets/btn-pdata-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
}

#change_passwrod {
    background-image: url("assets/btn-pass.png");
}
#change_passwrod:hover {
    background-image: url("assets/btn-pass-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
}

#change_image {
    background-image: url("assets/btn-image.png");
}
#change_image:hover {
    background-image: url("assets/btn-image-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
}

#settings {
    background-image: url("assets/btn-pdata.png");
}
#settings:hover {
    background-image: url("assets/btn-pdata-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
}