<div class="container main">
  <div class="content-book">
    <div class="content-body">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6" id="center-left">
          <img src="assets/unknown.png" alt="Profile image" class="profile-photo" *ngIf="defaultImage == true">
          <img [src]="imageToShow" alt="Profile image" class="profile-photo" *ngIf="defaultImage == false">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-6" style="position: relative;">
          <div id="center-right">
            <span class="text-outline" id="big-name">{{ userProfileData.firstname }} {{ userProfileData.lastname }}</span>
          </div>
          <div class="btn-wrap">
            <div *ngIf="myProfilePage == false">
              <div class="btn-profile" id="send_message" data-toggle="tooltip" title="Send nudes pls" (click)="onSendMessage()">
                <p class="btn-text">Send<br> message</p>
              </div>
              <div *ngIf="isFriend == false && isInvited == false" class="btn-profile friend-opt" id="send_invite" (click)="onSendInvite()">
                <p class="btn-text">Send<br> invite</p>
              </div>
              <div *ngIf="isFriend == false && isInvited == true" class="btn-profile friend-opt" id="invite_waiting">
                <p class="btn-text">Invite<br> is waiting...</p>
              </div>
              <div *ngIf="isFriend == true" class="btn-profile friend-opt" id="delete_friend" (click)="deleteFriend()">
                <p class="btn-text">Delete<br> friend</p>
              </div>
            </div>
            <div class="btn-big" id="my-page" *ngIf="myProfilePage == true">
              <div class="btn-profile" id="change_personal_data" data-toggle="modal" data-target="#modalChangeData">
                <p class="btn-text">Change<br> profile info</p>
              </div>
              <div class="btn-profile" id="change_passwrod" data-toggle="modal" data-target="#modalChangePassword">
                <p class="btn-text">Change<br> password</p>
              </div>
              <div class="btn-profile" id="change_image" data-toggle="modal" data-target="#modalChangeImage">
                <p class="btn-text">Change<br> your image</p>
              </div>
            </div>
            <div class="btn-mobile" id="my-page" *ngIf="myProfilePage == true">
              <div class="btn-profile" id="settings" (click)="onGoToSettings()">
                <p class="btn-text" style="padding: 13px 0 0 50px">Settings</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-lg-6">
          <div class="profile-level-wrap">
            <div class="level">
              <span class="lvl-number text-outline">101</span>
            </div>
            <div class="exp-bar">
              <p class="lvl-text text-outline">Level <span>101</span></p>
              <svg width="120" height="25">
                <rect width="220" height="25"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="assets/btn-profile-hover.png" id="ico-profile" alt="Profile" class="btn-nav" (click)="onCoinClick($event)">
          <img src="assets/btn-friends.png" id="ico-friends" alt="Friends list" class="btn-nav" (click)="onCoinClick($event)">
          <img src="assets/btn-games.png" id="ico-games" alt="Games" class="btn-nav" (click)="onCoinClick($event)">
        </div>
      </div>
      <div class="information">
        <app-view-profile *ngIf="profileChild == true" [userProfileData]="userProfileData"></app-view-profile>
        <app-view-friends *ngIf="friendsChild == true" [userFriends]="userFriends" [myFriends]="myFriends" [myProfilePage]="myProfilePage"></app-view-friends>
        <app-view-games *ngIf="gamesChild == true" [userGamesAPPList]="userGamesAPPList" [myGamesAPPList]="myGamesAPPList" [myProfilePage]="myProfilePage"></app-view-games>
      </div>
    </div>
  </div>
</div>


<div id="modalChangeData" class="modal fade" role="dialog" style=" margin-top: 50px;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content information information-modal">
      <form (ngSubmit)="onSaveChanges(f)" #f="ngForm">
        <div class="modal-header">
          <button type="button" class="close modal-btn-close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-outline">Change profile data</h4>
        </div>
        <div class="modal-body row">
            <div class="alert alert-warning">
                <strong>Warning!</strong> After proceeding changes you will need to relog!
            </div>
            <label for="login">Email</label>
            <input type="email" id="email" name="email" placeholder="{{myProfileData.email}}" ngModel class="form-control font19">
            
            <label for="firstname">First name</label>
            <input type="text" id="firstname" name="firstname" placeholder="{{myProfileData.firstname}}" ngModel class="form-control font19">
      
            <label for="lastname">Last name</label>
            <input type="text" id="lastname" name="lastname" placeholder="{{myProfileData.lastname}}" ngModel class="form-control font19">
      
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="{{myProfileData.city}}" ngModel class="form-control font19">
      
            <label for="age">Age</label>
            <input type="number" min="5" max="100" id="age" name="age" placeholder="{{myProfileData.age}}" ngModel class="form-control font19">
        </div>
        <div class="modal-footer">
          <button class="btn btn-forum" id="btn-send" type="submit"><img class="btn-ico" src="assets/plus.png">SAVE</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="modalChangePassword" class="modal fade" role="dialog" style=" margin-top: 50px;">
  <div class="modal-dialog modal-md">
    <div class="modal-content information information-modal" id="modal-change-password">
      <form (ngSubmit)="onSavePassword(f)" #f="ngForm">
        <div class="modal-header">
          <button type="button" class="close modal-btn-close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-outline">Change password</h4>
        </div>
        <div class="modal-body row">
          <label for="oldpassword">Old password</label>
          <input type="password" id="oldpassword" name="oldpassword" ngModel class="form-control" required>

          <label for="password">New password</label>
          <input type="password" id="password" name="password" ngModel class="form-control" required>

          <label for="repeatpassword">Repeat new password</label>
          <input type="password" id="repeatpassword" name="repeatpassword" ngModel class="form-control" required>
        </div>
        <div class="modal-footer">
          <button class="btn btn-forum" id="btn-send" type="submit"><img class="btn-ico" src="assets/plus.png">SAVE</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="modalChangeImage" class="modal fade" role="dialog" style=" margin-top: 50px;">
  <div class="modal-dialog modal-md">
    <div class="modal-content information information-modal" id="modal-change-image">
      <form (ngSubmit)="onSaveImage(f)" #f="ngForm">
        <div class="modal-header">
          <button type="button" class="close modal-btn-close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-outline-sm">Change profile picture</h4>
        </div>
        <div class="modal-body row">
          <div class="alert alert-warning">
            <strong>Warning!</strong> After proceeding changes you may need to relog!
          </div>
          <label for="file">Select image from your drive</label>
          <br>Preferred size: 200x200 px
          <input type="file" id="file" name="file"  required #fileInput>
        </div>
        <div class="modal-footer">
          <button class="btn btn-forum" id="btn-send" type="submit"><img class="btn-ico" src="assets/plus.png">SAVE</button>
        </div>
      </form>
    </div>
  </div>
</div>