.content {
    background-color: transparent;
    background-image: url("assets/pbook.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #252525;
    box-shadow: none;
    border-style: none;
}
.content-top {
    background-color: transparent;
    box-shadow: none;
}
.row {
    min-height: 200px;
}
.profile-photo {
    width: 200px; 
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile-level-wrap {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 361px;
    height: 79px;
}
.level {
    background-image: url("assets/b_green.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 79px;
}
.lvl-text {
    position: absolute;
    margin-top: -50px;
    font-size: 33px;
    letter-spacing: 2px;
}
.lvl-number {
    font-size: 27px;
    letter-spacing: 1px;
}
.exp-bar {
    background-image: url("assets/exp-bar.png");
    background-repeat: no-repeat;
    width: 291px;
    height: 56px;
    padding: 15px 0 0 35px;
}
rect {
    fill: #e4e3e3;
    stroke-width: 3;
    stroke: rgb(0,0,0);
}
.center-wrap {
    display:flex;
    justify-content:center;
    align-items:center;
}
.btn-text {
    line-height: 1.15;
    padding: 5px 0 0 45px;
    position: absolute;
}
.btn-wrap {
    margin-top: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #000000;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif;
}
.btn-profile {
    border-radius: 10px 10px 10px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(241, 239, 239, 0.534);
    background-repeat: no-repeat;
    display: inline-block;
    height: 45px;
    width: 150px;
    cursor: pointer;
    border-style: solid;
    border-color: rgba(112, 112, 112, 0.623);
    border-width: 2px;
}

#big-name {
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif;
}
#nickname {
    font-size: 15px;
    letter-spacing: 2px;
}


@media screen and (max-width: 1200px) {
    .col-md-4 {
        padding: 0;
    }
    #big-name {
        color: #ffffff;
        font-size: 27px;
        letter-spacing: 2px;
        font-family: Montserrat, sans-serif;
    }
    .profile-photo {
        margin-top: -100px;
        width: 150px;
        height: 150px;
    }
    .btn-wrap {
        position: absolute;
        right: 15px;
        margin-top: -25px;
        color: #000000;
        font-size: 14px;
        letter-spacing: 2px;
        font-family: Montserrat, sans-serif;
    }
}
@media screen and (max-width: 1000px) {
    #big-name {
        color: #ffffff;
        font-size: 27px;
        letter-spacing: 2px;
        font-family: Montserrat, sans-serif;
    }
}
@media screen and (max-width: 991px) {
    .profile-photo {
        width: 100px;
        height: 100px;
    }
    #nickname {
        position: absolute;
        float: right;
        margin-top: 45px;
        left: 15px;
        font-size: 15px;
        letter-spacing: 2px;
    }
}
@media screen and (max-width: 545px) {
    .text-outline {
        -webkit-text-stroke: 1px black;
        color: white;
        text-shadow:
            1px 1px 0 #000,
          -1px -1px 0 #000,  
           1px -1px 0 #000,
           -1px 1px 0 #000,
            1px 1px 0 #000;
        font-size: 25px;
        letter-spacing: 4px;
        font-family: Montserrat, sans-serif;
    }
}
@media screen and (max-width: 500px) {
    .btn-big {
        display: none;
    }
    .btn-mobile {
        display: block;
    }
}
@media screen and (min-width: 500px) {
    .btn-mobile {
        display: none;
    }
}






.title-panel-sm {
    color: #000000;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
}
.decision {
    float: right;
}

.content-body {
    padding-bottom: 0px !important;
}



@media (max-width: 1200px) { /*override to change breakpoint of navbar toggle*/
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        margin-top: 15px;
        font-size: 20px;
        display: block;
    }
    .navbar-collapse {
        position: absolute;
        border-radius: 0 0 15px 15px;
        border: 1px solid;
        border-color: #cccbcb;
        border-top: 1px solid transparent;
        background-color:#f1efef;
        z-index: 50;
        min-width: 65px;
        min-height: 145px;
        right: 0px;
        padding-left: 0px;
        padding-right: 13px;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #workffs {
        padding-left: 25%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}

.btn-confirm {
    margin-left: 40%;
    margin-right: 40%;
}
