.top-img {
    background-image: url("assets/book.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.book-img {
    max-width: 100%;
    height: auto;
}

.content-top {
    box-shadow: none;
}

.profile-photo-wrap {
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
}



.col-md-3 {
    padding: 25px 50px;
}
.profile-photo {
    margin-top: -120px;
    width: 200px; 
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 1200px) {
    .col-md-3 {
        padding: 25px 25px;
    }
    .profile-photo {
        margin-top: -100px;
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width: 991px) {
    .col-md-3 {
        padding: 5px;
        padding-bottom: 0;
    }
    .profile-photo {
        margin-top: -80px;
        width: 100px;
        height: 100px;
    }
    .navbar-toggle {
        position: absolute;
        margin: 0px 15px;
        top: -80px;
        right: -20px;
        font-size: 20px;
    }
    #nickname {
        position: absolute;
        float: right;
        margin-top: 45px;
        left: 15px;
        font-size: 15px;
        letter-spacing: 2px;
    }
}
@media screen and (max-width: 390px) {
    .navbar-toggle {
        position: absolute;
        margin: 0px 20px;
        padding: 2px;
        top: -80px;
        right: 0px;
        font-size: 10px;
    }
}


.nav-tabs-wrap {
    min-width: 350px;
    display: inline-block;
    color: #000000;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif;
}
li a {
    color: #000000;
    padding: 29px 15px;
    cursor: pointer;
}
li a:hover {
    color: #f4511e;
    background-color: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #e4e3e3;
}
.icon:hover {
    color: #f4511e;
}


.navbar-toggle {
    border: 1px solid;
    border-color: #b6b6b6;
}


#big-name {
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif;
}
@media screen and (max-width: 1200px) {
    .col-md-4 {
        padding: 0;
    }
    #big-name {
        color: #ffffff;
        font-size: 27px;
        letter-spacing: 2px;
        font-family: Montserrat, sans-serif;
    }
}
@media screen and (max-width: 1000px) {
    #big-name {
        color: #ffffff;
        font-size: 27px;
        letter-spacing: 2px;
        font-family: Montserrat, sans-serif;
    }
}




#nickname {
    position: absolute;
    float: right;
    margin-top: 45px;
    margin-left: -15px;
    font-size: 15px;
    letter-spacing: 2px;
}
/*#nickname {
    position: absolute;
    margin-top: -40px;
    margin-left: 20px;
    font-size: 45px;
    color: #ffffff;
}*/
.title-panel-sm {
    color: #000000;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
}

.btn-wrap {
    margin-left: 539px;
    margin-top: 25px;
    color: #000000;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif;
}
.btn-text {
    padding-top: 74.685px;
    line-height: 1.15;
}

.green-back {
    background-color: #13976f;
}
h2 {
    color: white;
    font-size: medium;
}
h2:hover {
    color: #42ffc6;
}
h3 {
    color: white;
    font-size: medium;
}
.decision {
    float: right;
}

.modal-header {
    background-color: #13976f;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
}

.modal-title {
    border-color: transparent;
    color: #fff !important;
}

.modal-btn-close {
    border-color: transparent;
    color: azure;
}

.modal-content {
    background-color: #3a3a3a;
}

.modal-body {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 19px;
}

.btn-confirm {
    margin-left: 40%;
    margin-right: 40%;
}

.content-body {
    padding-bottom: 0px !important;
}



@media (max-width: 1200px) { /*override to change breakpoint of navbar toggle*/
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        margin-top: 15px;
        font-size: 20px;
        display: block;
    }
    .navbar-collapse {
        position: absolute;
        border-radius: 0 0 15px 15px;
        border: 1px solid;
        border-color: #cccbcb;
        border-top: 1px solid transparent;
        background-color:#f1efef;
        z-index: 50;
        min-width: 65px;
        min-height: 145px;
        right: 0px;
        padding-left: 0px;
        padding-right: 13px;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #workffs {
        padding-left: 25%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}