.media {
    padding: 5px 10px 0px 10px;
    background-color: #ffffff8c;
    border-radius: 10px;
}
.media-object {
    border-radius: 5px;
}
.media-heading {
    border-bottom-style: solid;
    border-color: #e4e3e39a;
}
.link {
    letter-spacing: 2px;
}