<form class="modal-form" (ngSubmit)="onSavePassword(f)" #f="ngForm">
  <div *ngIf="showAlert" class="alert-wrap">
    <div ngClass [ngClass]="isSuccess ? 'alert btn-green' : 'alert btn-red'">{{ alertMessage }}</div>
  </div>

    <label for="oldpassword">Current password</label>
    <input
      type="password"
      id="oldpassword"
      name="oldpassword"
      ngModel
      class="form-control"
      required
    />

    <label for="password">New password</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      class="form-control"
      required
    />

    <label for="repeatpassword">Confirm new password</label>
    <input
      type="password"
      id="repeatpassword"
      name="repeatpassword"
      ngModel
      class="form-control"
      required
    />
  <div class="modal-footer">
    <button class="btn-forum btn-green" type="submit">
      SAVE
    </button>
  </div>
</form>
