@import '../../../_variables'

.form-container
    display: flex
    width: 100%
    height: calc( 100vh - 156px )
    align-items: center
    justify-content: center
    @media screen and (max-width: 455px)
        width: 100%
    @media screen and (max-width: 370px)
        height: 100%
    .form
        margin: 0 auto
        border-radius: 5px
        background: #00000009
        .heading
            padding: 20px
            font-size: 1.5em
            text-align: center
            border-bottom: 1px solid #00000031
            background: #00000015
            @media screen and (max-width: 382px)
                font-size: 1.1em
        .form-content
            padding: 20px
        .input-group
            width: 100%
            margin-bottom: 10px
            text-align: right
            @media screen and (max-width: 382px)
                text-align: center
                margin: 5px
            input
                display: inline-block
                max-width: 60%
                height: 23px
                @media screen and (max-width: 382px)
                    display: block
                    max-width: 80%
                    margin: 0 auto
            label
                font-size: 0.9em
                margin: 0
                line-height: 25px
                @media screen and (max-width: 382px)
                    line-height: normal
                    font-size: 0.8em
        .btn-submit
            display: block
            margin: 20px auto 0 auto
            font-size: 1.0em
        .footer
            padding: 20px
            border-top: 1px solid #00000031
            background: #00000015
        p
            a
                color: #2fa8f8
                font-weight: 600
                &:hover
                    color: $third
        .alert
            margin-top: 10px
