.text-center {
    text-align: center;
}

.right-block {
    text-align: right;
}

.swords {
    position: fixed;
    margin-left: 0%;
    padding-top: 15%;
    padding-left: 2%;
}

.main-show {
    background-color: rgb(39, 39, 39);
    min-height: 100%;
    padding: 0%;
}
.main-nav {
    background-color: #e6ecf0;
    min-height: 100%;
    padding: 0%;
}

.introduction {
    padding: 2%;
    font-size: 22px !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}