<main class="main-content">
  
    <div *ngIf="isSignIn == true" class="note">
      <app-sign-in></app-sign-in>
    </div>
    <div *ngIf="isSignUp == true" class="note">
      <app-sign-up></app-sign-up>
    </div>
    <div *ngIf="isAbout == true" class="note">
      <div class="note_text" align="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis ornare tellus, id luctus tellus rhoncus non. Sed luctus, metus id facilisis vulputate, ligula felis interdum mauris, sed auctor nunc urna a ligula. Integer volutpat mauris bibendum dignissim varius. Sed sit amet maximus eros, vel maximus lectus. Duis ornare convallis ullamcorper. 
      </div>
    </div>
  
  <div class="buttons_wrap">
      <div class="home_btn" id="btn_in" (click)="btnClick($event)">
      </div>
      <div class="home_btn" id="btn_up" (click)="btnClick($event)">
      </div>
      <div class="home_btn" id="btn_about" (click)="btnClick($event)">
      </div>
  </div>
  </main>