<div class="home-wrap">
  <div class="row" style="height: 100%; width: 100%;">
    <div class="col center">
      <div class="home-p2 home-sign border">
        <p class="welcome_text font-fofer" align="center">
          Fantastic worlds are waiting for an adventurer just like you! All you
          need is <br />
          <img src="/assets/pnp1.png" />
        </p>
      </div>
    </div>
    <div class="col center">
      <div id="hp1" class="home-p-wrap">
        <div
          id="hp1-front"
          class="home-p1 home-sign-front border center font-fofer"
          (click)="flipCard($event)"
        >
          Sign in to your account!
        </div>
        <div
          id="hp1-back"
          class="home-p1 home-sign home-sign-back border center"
          (click)="flipCard($event)"
        >
          <app-sign-in></app-sign-in>
        </div>
      </div>
    </div>
    <div class="col center">
      <div id="hp3" class="home-p-wrap">
        <div
          id="hp3-front"
          class="home-p3 home-sign-front border center font-fofer"
          (click)="flipCard($event)"
        >
          Don't have an account? Sign up! That's really damn quick!
        </div>
        <div
          id="hp3-back"
          class="home-p3 home-sign home-sign-back border"
          (click)="flipCard($event)"
        >
          <app-sign-up></app-sign-up>
        </div>
      </div>
    </div>
  </div>
</div>
