.text-center {
    text-align: center;
}

.right-block {
    text-align: right;
}

.main-page {
    background-color: #e6ecf0;
    min-height: 100%;
    min-width: 100%;
    padding: 0%;
}

.main-content {
    /*background-color: rgb(39, 39, 39);
    background-image: url("assets/home.png");
    background-size:100% 100%; 
    background-repeat: no-repeat;
    height: 100vh;*/
    background-image: url("assets/desk.png");
    background-repeat: no-repeat;
}

.desk {
    background-image: url("assets/desk.png");
    left: 0px;
    width: 2036px;
    height: 1571px;
    z-index: 1;
  }
  
  
.buttons_wrap {
    /*margin-left: 54.7%;*/
    margin-left: 0px;
    display: inline-block;
    vertical-align: middle;
    min-height: 100vh;
}

.home_btn {
    position: absolute;
    top: 154px;
    width: 108px;
    height: 116px;
    transition: all 0.3s ease;
    cursor: pointer;
}
    
.home_btn:hover {
    -webkit-transform: translateY(-11px);
    transform: translateY(-11px);
}

#btn_in {
    background-image: url("assets/sign-in.png");
    left: 517px;
    z-index: 17;
  }
#btn_up {
    background-image: url("assets/sign-up.png");
    left: 627px;
    z-index: 18;
  }
#btn_about {
    background-image: url("assets/about.png");
    left: 735px;
    z-index: 19;
  }

.yellow_note {
    background-image: url("assets/note1.png") no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-top: 270px;
    margin-left: 315px;
    margin-right: 0px;
    width: 521px;
    height: 479px;
    border: none;
}

.note {
    background-image: url("assets/note1.png");
    position: absolute;
    left: 330px;
    top: 193px;
    width: 552px;
    height: 455px;
    z-index: 21;
  }
  
  

.note_text {
    padding: 40px;
    margin-left: 25px;
    margin-top: 40px;
    font-size: 20px;
    text-anchor: middle;
    font-family: Fofer;
    font-weight: 500;
    color: black;
    line-height: 35px;
}


.introduction {
    padding: 2%;
    font-size: 22px !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}