    <!--<div>
        <form class="form-signin" (ngSubmit)="onSignIn(f)" #f="ngForm">
            <div class='col-sm-3'>
              <label class="sr-only" for="login">Login</label>
              <input type="login" id="login" name="login" placeholder="Login" style="font-size: 19px" ngModel class="form-control">
            </div>
            <div class='col-sm-3'>
              <label class="sr-only" for="password">Password</label>
              <input type="password" id="password" name="password" placeholder="Password" style="font-size: 19px" ngModel class="form-control">
            </div>
            <div class='col-sm-6'>
              <button class="btn btn-sm btn-primary btn-block" style="font-size: 14px; float: right" type="submit">Sign in</button>
            </div>
        </form>
    </div>

    <div class="swords">
        <img src="/assets/swords.png" alt="swords"><br>
        <button class="btn btn-sm btn-primary btn-block" style="font-size: 14px; float: right" type="submit" (click)="rootToSignIn()">Sign in</button>
        <button class="btn btn-sm btn-primary btn-block" style="font-size: 14px; float: right" type="submit" (click)="rootToSignUp()">Create account</button>
    
    </div>


    <nav class="navbar navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#myPage">Logo</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="sign-in">ABOUT</a></li>
              <li><a href="#services">SERVICES</a></li>
              <li><a href="#contact">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </nav>-->
      
      <div class="jumbotron text-center">
        <!--<h1>Catchy web page name</h1> 
        <p>Welcome! All those fantastic worlds are waiting for and adventurer just like you!</p>
        <form>
            <div class='col-sm-4'></div>
            <div class='col-sm-4'>
                <div class="input-group">
                    <img src="assets/wizard3.png" alt="Logo" >
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success btn-lg" style="width:100%;" (click)="rootToSignIn()">SIGN IN TO YOUR ACCOUNT</button><BR>
                        <button type="button" class="btn btn-success btn-lg" style="width:100%;" (click)="rootToSignUp()">CREATE NEW ACCOUNT</button>
                    </div>
                </div>
          </div>
        </form>--> 
        <div class="row">
          <img src="assets/wizard3.png" alt="Logo" >
        </div>
        <div class="row introduction">
          Welcome! 
          <br>Fantastic worlds are already waiting for an adventurer just like you.
          <br>All you need is Pen and Paper!
        </div>
        <div class="row input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-success btn-lg" style="width:100%;" (click)="rootToSignIn()">SIGN IN TO YOUR ACCOUNT</button><BR>
            <button type="button" class="btn btn-success btn-lg" style="width:100%;" (click)="rootToSignUp()">CREATE NEW ACCOUNT</button>
          </div>
        </div>
      </div>

    