<div class="container">
  <p class="text-default" style="font-size: 20px; text-align: right">
    You must gather your party before venturing forth... <br /><span
      style="font-size: 15px"
      >Or just find one!</span
    >
  </p>
  <div class="filters">
    <form class="form-signin" (ngSubmit)="onSearch(f)" #f="ngForm">
      <div class="input-group">
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Title"
          ngModel
          class="form-control"
        />
      </div>
      <div class="input-group">
        <label for="categories" style="font-size: 0.8em">Categories:</label>
        <p class="categories">
          <span
            [className]="allCategoriesChecked ? 'category-name text-default focus' : 'category-name text-default'"
            (click)="categoryClick(-1)"
            >All
          </span>
          <span
            *ngFor="let category of gameCategories; let i = index"
            [className]="category.checked ? 'category-name text-default focus' : 'category-name text-default'"
            (click)="categoryClick(i)"
            >{{ category.name }}
          </span>
        </p>
      </div>
      <div class="input-group two-sided">
        <div class="left-side">
          <label class="text-default"
            ><input
              id="avaliableBox"
              type="checkbox"
              (click)="onBoxAvaliable(avaliableBox.checked)"
              #avaliableBox
              value=""
            /><span>Only avaliable games</span>
          </label>
        </div>
        <div class="right-side">
          <button
            class="btn-forum btn-green"
            id="btn-search"
            type="submit"
          >
           SEARCH
          </button>
        </div>
      </div>
    </form>
  </div>

  <app-search-results-game [isLoading]="isLoading" [foundGames]="foundGames"></app-search-results-game>
</div>
