<div class="container">
  <p class="text-default" style="font-size: 20px; text-align: right">
    You must gather your party before venturing forth... <br /><span
      style="font-size: 15px"
      >Or just find one!</span
    >
  </p>
  <div class="filters">
    <form class="form-signin" (ngSubmit)="onSearch(f)" #f="ngForm">
      <div class="input-group">
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Title"
          ngModel
          class="form-control"
        />
      </div>
      <div class="input-group">
        <label for="categories" style="font-size: 0.8em">Categories:</label>
        <p class="categories">
          <span
            [className]="allCategoriesChecked ? 'category-name text-default focus' : 'category-name text-default'"
            (click)="categoryClick(-1)"
            >All
          </span>
          <span
            *ngFor="let category of gameCategories; let i = index"
            [className]="category.checked ? 'category-name text-default focus' : 'category-name text-default'"
            (click)="categoryClick(i)"
            >{{ category.name }}
          </span>
        </p>
      </div>
      <div class="input-group two-sided">
        <div class="left-side">
          <label class="text-default"
            ><input
              id="avaliableBox"
              type="checkbox"
              (click)="onBoxAvaliable(avaliableBox.checked)"
              #avaliableBox
              value=""
            /><span>Only avaliable games</span>
          </label>
        </div>
        <div class="right-side">
          <button
            class="btn-forum btn-green"
            id="btn-search"
            type="submit"
          >
           SEARCH
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="results">
    <p class="text-default" style="font-size: 20px; text-align: right">
      Search results:
    </p>
    <div *ngFor="let game of foundGames; let i = index">
      <div class="media">
        <div class="media-left">
          <a href="/game/{{ game.data.id }}">
            <img
              *ngIf="game.defaultImage"
              src="{{ game.photo }}"
              class="media-object"
            />
            <img
              *ngIf="!game.defaultImage"
              [src]="game.photo"
              class="media-object"
            />
          </a>
        </div>
        <div class="media-body">
          <div class="media-heading">
            <div class="game-name">
              <a href="/game/{{ game.data.id }}">{{ game.data.title }}</a>
              <span style="margin-left: 25px">- {{ game.data.category }} -</span>
            </div>
            <div class="game-players">
              <span class="text-default">
                Players: {{ game.data.nofparticipants }} /
                {{ game.data.maxplayers }}
              </span>
            </div>
          </div>
          <div class="game-master">
            <a
              class="profile-link"
              role="button"
              [routerLink]="['/profile', game.data.gameMaster.login]"
            >
              <img
                *ngIf="game.photoGM"
                [src]="game.photoGM"
                class="media-object"
              />
              <img
                *ngIf="!game.photoGM"
                src="/assets/unknown.png"
                class="media-object"
              />
              <span class="name">{{ game.data.gameMaster.firstname }}
              {{ game.data.gameMaster.lastname }} ({{
                game.data.gameMaster.login
              }})</span>
            </a>
          </div>
          <p class="game-description">{{ game.data.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
