@import '../../../../_variables'
@import '../../../../_mixins'

.container
    .filters
        position: relative
        width: 100%
        padding: 25px 25px 15px 25px
        background-color: rgba(255, 255, 255, 0.274)
        border-radius: 25px
        .categories
            text-align: center
            margin-bottom: 20px
            .category-name
                display: inline-block !important
                margin-right: 20px
                cursor: pointer
            .category-name:hover
                color: tomato
            .focus
                color: tomato
        .checkbox
            position: relative
            label
                font-size: 15px
                input
                    position: absolute
                    left: 0
                    bottom: 10px
                    width: 18px
                    height: 18px
                span
                    position: absolute
                    left: 25px
                    bottom: 8px
        #btn-search
            position: absolute
            bottom: 20px
            right: 25px
    .results
        margin-top: 50px 
        padding: 35px
        @include primary-container()
        @include background-opacity($lightWhite, 0.7)
        .media
            background-color: rgba(255, 255, 255, 0.274)
            border-radius: 20px
            margin-top: 30px
            padding: 15px 5% 15px 10px
            .media-left
                padding-right: 20px
                img 
                    width: 60px
            .media-body
                .media-heading
                    .game-players
                        float: right
                .game-master
                    display: flex
                    align-items: center
                    margin-top: 20px
                    margin-bottom: 10px
                .game-description
                    text-align: justify
