<div class="create-header">
  <div class="header-left default-font">
    <form #f="ngForm" class="create-form" (ngSubmit)="onCreate(f)">
      <div class="input-group">
        <label class="option-name">Title:</label>
        <input
          class="form-control"
          type="text"
          name="title"
          ngControl="title"
          ngModel
          minlength="2"
          required
        />
      </div>
      <div class="input-group">
        <label class="option-name">Category:</label>
        <select
          class="form-control"
          name="category"
          ngControl="category"
          ngModel
          required
        >
          <option *ngIf="iAmGameMaster">General</option>
          <option *ngIf="iAmGameMaster">Game</option>
          <option>Support</option>
          <option>Off-topic</option>
        </select>
      </div>
      <div *ngIf="iAmGameMaster" class="input-group">
        <label class="option-name">Access to this topic:</label>
        <div class="radio-group">
          <label
            ><input
              type="radio"
              name="access"
              value="public"
              ngControl="access"
              ngModel
              checked
            />Public</label
          >
          <label
            ><input
              type="radio"
              name="access"
              value="limited"
              ngControl="access"
              ngModel
            />Limited</label
          >
        </div>
      </div>
    </form>
  </div>
  <div class="header-right">
    <a [routerLink]="" [queryParams]="{gameId: gameData.id}">
      <button class="btn-forum btn-yellow">
        BACK
      </button>
    </a>
  </div>
</div>

<app-text-editor (getMsgHTML)="onCreate($event)"></app-text-editor>

<div *ngIf="showAlert" class="alert-wrap">
  <div ngClass [ngClass]="isLoading ? 'alert btn-yellow' : 'alert btn-red'">{{ alertMessage }}</div>
</div>
