<div class="container">
  <div class="content-top">
    <ul class="nav nav-tabs">
      <li id="acc-messages" class="active">
        <a (click)="onNavClick($event)" id="messages">
          MESSAGES <span *ngIf="notificationSet.message">(!)</span>
        </a>
      </li>
      <li id="acc-games">
        <a (click)="onNavClick($event)" id="games">
          MY GAMES <span *ngIf="notificationSet.game">(!)</span>
        </a>
      </li>
      <li id="acc-friends">
        <a (click)="onNavClick($event)" id="friends">
          MY FRIENDS <span *ngIf="notificationSet.friend">(!)</span>
        </a>
      </li>
      <li id="acc-settings">
        <a (click)="onNavClick($event)" id="settings">
          SETTINGS
        </a>
      </li>
    </ul>
  </div>
  <div class="content-body">
    <app-my-messages
      *ngIf="myMessagesFlag"
      [conversationsList]="conversationsList"
      [notificationData]="notificationData"
      [myRelationsList]="myRelationsList"
    ></app-my-messages>
    <app-my-games
      *ngIf="myGamesFlag"
      [myGamesList]="myGamesList"
    ></app-my-games>
    <app-my-friends
      *ngIf="myFriendsFlag"
      [myRelationsList]="myRelationsList"
    ></app-my-friends>
    <app-account-settings
      *ngIf="settingsFlag"
      [myProfileData]="myProfileData"
    ></app-account-settings>
  </div>
</div>
