<p class="text-outline" id="information-text">Player details:</p>                                                      
<div class="table-responsive">          
  <table class="table table-info">
    <thead>
      <tr>
        <th></th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nickname:</td>
        <td>{{userProfileData.login}}</td>
      </tr>
      <tr *ngIf="isFriend == true || myProfilePage == true">
        <td>Email:</td>
        <td>{{userProfileData.email}}</td>
      </tr>
      <tr>
        <td>First name:</td>
        <td>{{userProfileData.firstname}}</td>
      </tr>
      <tr>
        <td>Last name:</td>
        <td>{{userProfileData.lastname}}</td>
      </tr>
      <tr>
        <td>City:</td>
        <td>{{userProfileData.city}}</td>
      </tr>
      <tr *ngIf="isFriend == true">
        <td>Age:</td>
        <td>{{userProfileData.age}}</td>
      </tr>
      <tr>
        <td>Games:</td>
        <td><h2 role="button"><span class="glyphicon glyphicon-tower"></span> Show games</h2></td>
      </tr>
    </tbody>
  </table>
</div>

