
<div class="container" style="position: relative; width: 100%">
  <!--<div class="btn-wrap" *ngIf="myProfilePage == false">
    <div class="btn-profile" id="send_message" data-toggle="tooltip" title="Send nudes pls" (click)="onSendMessage()">
      <p class="btn-text">Send<br> message</p>
    </div>
    <div *ngIf="isFriend == false && isInvited == false" class="btn-profile friend-opt" id="send_invite" (click)="onSendInvite()">
      <p class="btn-text">Send<br> invite</p>
    </div>
    <div *ngIf="isFriend == false && isInvited == true" class="btn-profile friend-opt" id="invite_waiting">
      <p class="btn-text">Invite<br> is waiting...</p>
    </div>
    <div *ngIf="isFriend == true" class="btn-profile friend-opt" id="delete_friend" (click)="deleteFriend()">
      <p class="btn-text">Delete<br> friend</p>
    </div>
  </div>
  <div class="btn-wrap btn-big" id="my-page" *ngIf="myProfilePage == true">
    <div class="btn-profile" id="change_personal_data" data-toggle="modal" data-target="#modalChangeData" (click)="onModalChangeData()">
      <p class="btn-text">Change<br> profile info</p>
    </div>
    <div class="btn-profile" id="change_passwrod" data-toggle="modal" data-target="#modalChangeData" (click)="onModalChangePassword()">
      <p class="btn-text">Change<br> password</p>
    </div>
    <div class="btn-profile" id="change_image" data-toggle="modal" data-target="#modalChangeData" (click)="onModalChangePicture()">
      <p class="btn-text">Change<br> your image</p>
    </div>
  </div>
  <div class="btn-wrap btn-mobile" id="my-page" *ngIf="myProfilePage == true">
    <div class="btn-profile" id="settings" (click)="onGoToSettings()">
      <p class="btn-text" style="padding: 13px 0 0 50px">Settings</p>
    </div>
  </div>-->

  <p class="text-outline" id="information-text">Player details:</p>    
  <div class="container information">                                                                                  
    <div class="table-responsive">          
      <table class="table table-info">
        <thead>
          <tr>
            <th></th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nickname:</td>
            <td>{{userProfileData.login}}</td>
          </tr>
          <tr *ngIf="isFriend == true || myProfilePage == true">
            <td>Email:</td>
            <td>{{userProfileData.email}}</td>
          </tr>
          <tr>
            <td>First name:</td>
            <td>{{userProfileData.firstname}}</td>
          </tr>
          <tr>
            <td>Last name:</td>
            <td>{{userProfileData.lastname}}</td>
          </tr>
          <tr>
            <td>City:</td>
            <td>{{userProfileData.city}}</td>
          </tr>
          <tr *ngIf="isFriend == true">
            <td>Age:</td>
            <td>{{userProfileData.age}}</td>
          </tr>
          <tr>
            <td>Games:</td>
            <td><h2 role="button"><span class="glyphicon glyphicon-tower"></span> Show games</h2></td>
          </tr>
        </tbody>
      </table>
    </div>
 </div>
</div>

