@import '../../../../../_mixins'

.content-body 
    padding-top: 0
.content-body-heading 
    position: relative
    padding: 20px 50px 0 50px
    min-height: 77px
    border-width: 3px 0 0 0
    border-style: solid
    border-color: #ffffff
    .topic-name
        font-size: 28px
    .btn-wrap
        button
            float: right
            display: inline-block
            margin: 0 10px
    .text-title     
        position: relative
        font-size: 12px !important
        line-height: 1.42857143 !important
        letter-spacing: 4px
        border-radius: 0
        font-family: Montserrat, sans-serif
