@import '../../../_variables'
@import '../../../_mixins'

.home-wrap
    width: 100vw
    .big-logo
        display: block
        margin: 0 auto
        @media screen and ( max-width: 1065px )
            width: 90%
    .content
        margin-top: 50px
        padding: 40px 20px
        background: #00000015
        border: solid 1px #00000031
        border-left: none
        border-right: none
        .home-btns
            display: flex
            flex-flow: wrap
            align-items: center
            justify-content: center
            padding: 0 20vw
            @media screen and ( max-width: 1460px )
                padding: 0 10vw
            @media screen and ( max-width: 992px )
                padding: 0 5vw
            .home-btn-column
                flex: 1
                .home-btn
                    display: block
                    margin: 10px auto
                    width: 200px
                    height: 70px
                    font-size: 2em
                    @media screen and ( max-width: 520px )
                        font-size: 1.6em
                        height: 50px
                        width: 150px
    .description
        text-align: center
        margin: 0 20%
        margin-top: 50px
        font-size: 1.2em
        line-height: 1.7em
        @media screen and ( max-width: 992px )
            margin: 0
            margin-top: 50px
