@import '../../../_variables'
@import '../../../_mixins'

$noteHeight: 479px
$noteWidth: 521px

.home-wrap
    height: calc(100vh - 106px)
    width: 100vw
    padding: 0 20vw
    @media screen and ( max-width: 1460px )
        padding: 0 10vw
    @media screen and ( max-width: 992px )
        padding: 0 5vw
    .home-sign, .home-sign-front, .home-sign-back
        height: 500px
        width: 100%
        min-width: 270px
        max-width: 355px
        padding: 50px    
        background-color: $primary
        backface-visibility: hidden
        .welcome_text
            color: black
            line-height: 35px
    .home-p-wrap
        height: 500px
        width: 100%
        min-width: 270px
        max-width: 355px
        margin: 20px 0
        transform-style: preserve-3d
        transform: perspective(1000px) rotate3d(0, 1, 0, 0deg)
        transition: transform 1s
        .front-text
            height: 50%
        img 
            height: 150px
            margin-top: 25px
            opacity: 0.5 
        .home-sign-front
            text-align: center
            cursor: pointer
        .home-sign-back
            position: absolute
            right: 0
            top: 0
            transform: rotate3d(0, 1, 0, 180deg)
    .home-p1
        margin-left: auto
        margin-right: auto
        @include radial-gradient3(bottom, $primary, $gradientStart, $fourth $gradientSpread, $third 200%)
        &:hover
            @include radial-gradient3(top, $primary, $gradientStart, $fourth $gradientSpread, $third 200%)
    .home-p2
        padding-top: 125px 
        @include radial-gradient(bottom right, $primary, $gradientStart, $secondary, 100%)
        &:hover
            @include radial-gradient(top left, $primary, $gradientStart, $secondary, 100%)
        img 
            width: 120px
            margin-top: 20px
    .home-p3
        margin-left: auto
        margin-right: auto
        @include radial-gradient3(bottom left, $primary, $gradientStart, $third $gradientSpread, $fourth 200%)
        @media screen and ( max-width: 577px )
            background-color: $third
        &:hover
            @include radial-gradient3(top right, $primary, $gradientStart, $third $gradientSpread, $fourth 200%)
    .border
        border-radius: 10px
        border-width: 0px !important
        box-shadow: 3px 3px 5px -3px black
        transition: transform 0.3s
        &:hover
            box-shadow: 3px 3px 15px -3px black
    .flip
        transform: rotate3d(0, 1, 0, 180deg)
