<div class="home-wrap">
  <img class="big-logo" src="/assets/biglogo.png" />
  <div class="content">
    <div class="home-btns">
      <div class="home-btn-column">
        <button class="home-btn btn btn-yellow" [routerLink]="['/sign-in']">
          Sign in
        </button>
      </div>
      <div class="home-btn-column">
        <button class="home-btn btn btn-red" [routerLink]="['/sign-up']">
          Sign up
        </button>
      </div>
    </div>
    <div class="description">
      Pen&Paper is a simple tool for creating your own party RPG game but as a
      online version. Write your rules and story, then present your world to
      other. Gather your crew by inviting friends or opening your game for new
      adventurers. Let your imaginations do the work!
    </div>
  </div>
</div>
