<div *ngFor="let chat of allConversations; let i=index">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">
            <div class="media" data-toggle="collapse" href="#collapse1">
              <div class="media-left">
                <img *ngIf="chat.conversationData.userProfile.isPhotoUploaded == true" [src]="chat.photo" class="media-object" alt="Profile image" style="width:60px">
                <img *ngIf="chat.conversationData.userProfile.isPhotoUploaded == false" src="assets/unknown.png" alt="Profile image" style="width:60px">
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{chat.conversationData.userProfile.firstname}} {{chat.conversationData.userProfile.lastname}}</h4>
                <p>{{chat.conversationData.userProfile.login}}</p>
              </div>
            </div>
          </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <p *ngFor="let message of chat.messages" class="message" id="msg{{message.id}}">
              {{message.bodyMessage}}<br>
          </p>
        </div>
        <div class="panel-footer">
          <textarea class="textarea" [(ngModel)]="defaultValue" id="message" rows="2" cols="30"></textarea>
          <br>
          <span (click)="onSendMessage(i)" class="glyphicon glyphicon-menu-right arrow"></span>
        </div>
      </div>
    </div>
  </div>
</div>