.panel-group {
    padding-right: 25px;
}

.panel-body {
    overflow-y: scroll;
    height: 300px;
}

.panel-footer {
    height: 100px;
}


.text-box {
    text-align: justify;
    padding-top: 35px;
    float: left;
}

.message {
    padding: 5px;
    background-color: #dddddd83;
    border-radius: 5px 5px 5px 5px;
}
.my-message {
    padding: 5px;
    right: 5px;
    background-color: #f4501e80;
    border-radius: 5px 5px 5px 5px;
}

.textarea {
    display: inline-block; 
    float: left; 
    margin-top: 5px; 
    margin-left: 5px;
    max-height: 90px;
    min-width: 275px;
    width: 900px;
    max-width: 900px;
}
.arrow {
    display: inline-block; 
    margin-right: 25px;
    float: right; 
    cursor: pointer;
    font-size: 20px;
}
.arrow:hover{
    color: #f4511e;
}