@import '../../../../../_variables'
@import '../../../../../_mixins'

.panel
    background-color: $lightWhite
    @include border-shadow(1px, 1px, 5px, #00000010)
    .panel-heading
        display: grid
        grid-template-columns: 1fr 8fr 1fr
        margin: 0
        padding: 20px 50px
        text-align: center
        .logo-wrap
            img
                height: 50px
        .title-wrap
            .title
                font-size: 2rem
                color: black
                cursor: default
                &:hover
                    color: $third !important
        .status-wrap
            .status
                color: $green
    .panel-body
        padding-bottom: 50px
        .btns
            margin-bottom: 20px
        .description
            overflow-y: auto
            text-align: justify
            padding: 0 50px
            max-height: 300px
            @include scrollbar(5px, $lightWhite, $primary)

        table
            margin: 25px auto
            margin-bottom: 0
            @include border-shadow(1px, 1px, 5px, #00000010)
            @include radial-gradient3(top right, $primary, -100%, $lightWhite 80%, $primary 200%)
            &:hover
                @include radial-gradient3(top right, $primary, -100%, $lightWhite 60%, $primary 200%)
            td
                padding: 5px 15px
            .profile-data
                text-align: center
                .clickable
                    color: $third
                    font-weight: bold
                    &:hover
                        color: black
                        font-weight: normal
