<div class="panel" id="panel1">
  <div class="panel-heading">
    <div class="logo-wrap center">
      <img src="{{ imageUrl }}" alt="Game image" />
    </div>
    <div class="title-wrap center">
      <span class="title">{{ gameData.title }} </span>
    </div>
    <div class="status-wrap center">
      <span class="status"> - {{ gameData.status }} -</span>
    </div>
  </div>
  <div *ngIf="showGameViewContent" id="collapseGame" class="panel-collapse collapse">
    <div class="container panel-body">
      <div class="btns center" *ngIf="!iAmParticipant && !iAmGameMaster">
        <button
          class="btn-forum btn-green"
          *ngIf="!isNewRequest && !isNewInvited"
          (click)="onJoin()"
        >
          Join Game
        </button>
        <button class="btn-forum btn-yellow" *ngIf="isNewRequest">
          Request waiting
        </button>
        <button
          class="btn-forum btn-green"
          *ngIf="isNewInvited"
          (click)="onAcceptRequest(profileData.id)"
        >
          Accept Invitation
        </button>
        <button
          class="btn-forum btn-red"
          *ngIf="isNewInvited"
          (click)="onDeclineRequest(profileData.id)"
        >
          Decline Invitation
        </button>
      </div>
      <div class="description">{{ gameData.description }}</div>
      <table>
        <tbody class="font-montserrat">
          <tr>
            <td>CATEGORY:</td>
            <td class="profile-data">{{ gameData.category }}</td>
          </tr>
          <tr>
            <td>START DATE:</td>
            <td class="profile-data">
              {{ gameData.date | date: "dd-MM-yyy" }}
            </td>
          </tr>
          <tr>
            <td>NUMBER OF PLAYERS:</td>
            <td class="profile-data">
              <span class="clickable" (click)="showModal(true, 'Players')"
                >{{ acceptedPlayers.length }}/{{ gameData.maxplayers }}</span
              >
            </td>
          </tr>
          <tr>
            <td>STATUS:</td>
            <td class="profile-data">{{ gameData.status }}</td>
          </tr>
          <tr>
            <td>IS INVITATION NEEDED?</td>
            <td class="profile-data">
              {{ gameData.needInvite | transformYesNoBoolean }}
            </td>
          </tr>
          <tr>
            <td>IS IT POSSIBLE TO JOIN AFTER THE GAME STARTED?</td>
            <td class="profile-data">
              {{ gameData.hotJoin | transformYesNoBoolean }}
            </td>
          </tr>
          <tr>
            <td>GAME MASTER:</td>
            <td class="profile-data">
              <a
                class="profile-link"
                role="button"
                [routerLink]="['/profile', gameMaster.login]"
              >
                <img
                  [src]="imageToShow"
                  class="profile-photo"
                  alt="Profile image"
                />
                <span class="name">{{ gameMaster.firstname }} {{ gameMaster.lastname }} ({{
                  gameMaster.login
                }})</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="showModalFlag">
  <app-modal [modalTitle]="modalTitle" [showModalFlag]="showModalFlag" (closeModalEvent)="closeModal($event)">  
    <div *ngIf="acceptedPlayers.length > 0" class="list">
      <a
        *ngFor="let player of acceptedPlayers; index as i"
        class="profile-link"
        role="button"
        [routerLink]="['/profile', player.data.login]"
      >
        <img
          *ngIf="player.photo"
          [src]="player.photo"
          alt="Profile image"
        />
        <img
          *ngIf="player.photo == null"
          src="assets/unknown.png"
          alt="Profile image"
        />
        <span class="name">{{ player.data.firstname }} {{ player.data.lastname }} ({{
          player.data.login
        }})</span>
      </a>
    </div>
    <p style="text-align: center; margin: 30px 0" *ngIf="acceptedPlayers.length < 1">There are no players yet!</p>
  </app-modal>
</div>