<div class="container">
  <app-game-free-view *ngIf="!iAmGameParticipant" [profileData]="profileData" [gameData]="gameData" [gameMaster]="gameMaster"></app-game-free-view>
  <div *ngIf="iAmGameParticipant" class="content-book">
      <app-game-view [profileData]="profileData" [gameData]="gameData" [gameMaster]="gameMaster"></app-game-view>
      <app-forum-view [profileData]="profileData" [gameData]="gameData" [forumData]="forumData" [topicToPersonData]="topicToPersonData" [topicData]="topicData"></app-forum-view>
  </div>
</div>