<div class="container jumbotron">
  <h2>{{ profileData.firstname }} {{ profileData.lastname }} ({{ profileData.login }})</h2>
  <p>RPG games history:</p>                                                                                      
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th></th>
        <th>Players</th>
        <th>City</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of gamesAccepted">
        <td>{{game.game.id}}</td>
        <td type="button" class="button-name" [routerLink]="['/game', game.game.id]">{{game.game.title}}</td>
        <td>
          <span *ngIf="game.isGameMaster == true" title="Game Master" class="glyphicon glyphicon-star"></span>
        </td>
        <td>{{game.game.nofparticipants}} / {{game.game.nofplayers}}</td>
        <td>{{game.game.location}}</td>
        <td>
          <span *ngIf="game.game.isActive == true">Active</span>
          <span *ngIf="game.game.isActive == false">Ended</span>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <p>Avaliable invitations:</p>                                                                                      
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Players</th>
        <th>City</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of invitations">
        <td>{{game.game.id}}</td>
        <td type="button" class="button-name" [routerLink]="['/game', game.game.id]">{{game.game.title}}</td>
        <td>{{game.game.nofparticipants}} / {{game.game.nofplayers}}</td>
        <td>{{game.game.location}}</td>
        <td>
          <span *ngIf="game.game.isActive == true">Active</span>
          <span *ngIf="game.game.isActive == false">Ended</span>
        </td>
        <td>
          <h2 class="decision">
            <button type="button" class="btn btn-success" (click)="onAcceptRequest(game.id)">
              <span class="glyphicon glyphicon-ok"></span> Accept
            </button>
            <button type="button" class="btn btn-danger" (click)="onDeclineRequest(game.id)">
              <span class="glyphicon glyphicon-remove"></span> Decline
            </button>
          </h2>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>