
  <!--<form class="form-signin" (ngSubmit)="onSignIn(f)" #f="ngForm">
    <div class="alert alert-danger" *ngIf="loginError == true">
      <strong>Error!</strong> Login or password incorrect!
    </div>
      <p class="welcome_text" align="center">Fantastic worlds are waiting for an adventurer just like you! All you need is<br>Pen and Paper!</p>
      <div class="input-group" style="padding-top: 10px; padding-bottom: 10px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="login" id="login" name="login" placeholder="Login" style="font-size: 19px" ngModel class="form-control">
      </div>
      <div class="input-group" style="padding-bottom: 20px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" id="password" name="password" placeholder="Password" style="font-size: 19px" ngModel class="form-control">
      </div>
      <button class="btn btn-lg btn-success btn-block" style="font-size: 20px" type="submit">Sign in</button>
  </form>-->


<form class="form-signin" (ngSubmit)="onSignIn(f)" #f="ngForm">
    <div class="alert alert-danger" *ngIf="loginError == true">
      <strong>Error!</strong> Login or password incorrect!
    </div>
      <p class="welcome_text" align="center">Fantastic worlds are waiting for an adventurer just like you! All you need is<br>Pen and Paper!</p>
      <div class="input-group" style="padding-top: 10px; padding-bottom: 10px">
        <label for="inp" class="inp">
            <input type="login" id="inp" name="login" placeholder="&nbsp;" ngModel class="form-control">
            <span class="label">Login/Email</span>
            <span class="border"></span>
          </label>
      </div>
      <div class="input-group">
          <label for="inp" class="inp">
              <input type="password" id="inp" name="password" placeholder="&nbsp;" ngModel class="form-control">
              <span class="label">Password</span>
              <span class="border"></span>
          </label>
      </div>
      <button class="btn-wrap" type="submit">SIGN IN</button>
  </form>
