<div class="modal-dialog modal-md">
  <div
    class="modal-content information information-modal"
    id="modal-change-password"
  >
    <form (ngSubmit)="onSavePassword(f)" #formOptions="ngForm">
      <div class="modal-header">
        <button
          type="button"
          class="close modal-btn-close"
          data-dismiss="modal"
        >
          &times;
        </button>
        <h4 class="modal-title">Change password</h4>
      </div>
      <div class="modal-body">
        <label for="oldpassword">Old password</label>
        <input
          type="password"
          id="oldpassword"
          name="oldpassword"
          ngModel
          class="form-control"
          required
        />

        <label for="password">New password</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control"
          required
        />

        <label for="repeatpassword">Repeat new password</label>
        <input
          type="password"
          id="repeatpassword"
          name="repeatpassword"
          ngModel
          class="form-control"
          required
        />
      </div>
      <div class="modal-footer">
        <button class="btn btn-forum" type="submit">
          <img class="btn-ico" src="assets/plus.png" />SAVE
        </button>
      </div>
    </form>
  </div>
</div>
