.content-top {
    display:flex;
    align-items:center;
}
.btn-join {
    display: inline-block;
    height: 100px;
    width: 250px;
    padding-left: 10px;
    margin-right: -4px;
    cursor: pointer;
    background-color: #f1efef;
    background-repeat: no-repeat;
    background-image: url("assets/btn-join-game.png");
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 2px #58a33c;
}
.btn-join:hover {
    box-shadow: inset 0 5px 5px 0 rgba(16, 61, 14, 0.24), 0 17px 50px 0 rgba(16, 61, 14, 0.24);
    background-image: url("assets/btn-join-game-hover.png");
    background-color: rgba(80, 244, 30, 0.1);
    color: #58a33c;
}
.btn-text {
    padding-top: 40px;
    padding-left: 100px;
    line-height: 1.15;
    font-size: 20px;
}
.description {
    text-align: justify;
    padding: 50px 50px 0 25px;

}
#information-text {
    position: absolute;
    margin: 15px 0 0 150px;
}
.information {
    background-image: url("assets/notepad.png");
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: -10px;
    padding-top: 60px;
    padding-left: 125px;
    min-height: 500px;
    max-height: 793px;
    max-width: 1074px;
    color: #252525;
    font-family: Montserrat, sans-serif;
    border-radius: 30px 0 0 0;
    box-shadow:  15px -10px 15px -15px rgba(0, 0, 0, 0.2),  5px 0 5px -5px rgba(0, 0, 0, 0.19);
}
.profile-photo{
    width: 50px; 
    padding-right: 15px;
}
.profile-link:hover {
    color: #f4511e;
}
