.top {
    margin-right: auto;
    margin-left: auto;
}
.btn-ico {
    width: 15px;
    margin-right: 5px;
    margin-top: -5px;
}
#btn-send {
    background-color: #caffca6c;
    border-color: #e2ffdad3;
    width: 100px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-width: 2px;
    color: #252525;
    cursor: pointer;
}
#btn-send:hover {
    color: #f4511e;
    background-color: #b1fcb1c2;
    border-color: #c0f7b1d3;
}
.description {
    text-align: justify;
    padding: 50px 50px 0 25px;

}
.profile-photo{
    width: 50px; 
    padding-right: 15px;
}
.profile-link:hover {
    color: #f4511e;
}
