<div class="book-header">
  <img src="assets/pbook-header.png" alt="">
</div>
<div class="book-body">
  <div class="content-body" style="padding-top: 0;">
    <div class="row">
      <div class="col-md-4">
        <img src="{{imageUrl}}" class="top" alt="Game image">
      </div>
      <div class="col-md-8">
        <div style="text-align:center; margin-bottom: 20px;">
          <span class="title-panel-bg text-outline">{{ gameData.title }}</span>
          <span class="title-panel-sm">- {{ gameData.category }} - {{ gameData.status }} -</span>
        </div>
        <button class="btn btn-forum top" id="btn-send" (click)="onJoin()"><img class="btn-ico" src="assets/plus.png">JOIN</button>
      </div>
    </div>
    <p class="description">{{gameData.description}}</p>
    <p class="text-outline" style="text-align:center;">Game details:</p>    
    <div class="information">                                                                                  
      <div class="table-responsive">          
        <table class="table">
          <tbody>
              <tr>
                <td class="text-default">CATEGORY:</td>
                <td>{{gameData.category}}</td>
              </tr>
              <tr>
                <td class="text-default">START DATE:</td>
                <td>{{gameData.date | date: 'dd-MM-yyy'}}</td>
              </tr>
              <tr>
                <td class="text-default">NUMBER OF PLAYERS:</td>
                <td>{{gameData.nofparticipants}}/{{gameData.maxplayers}}</td>
              </tr>
              <tr>
                <td class="text-default">BOOK:</td>
                <td>{{gameData.book}}</td>
              </tr>
              <tr>
                <td class="text-default">STATUS:</td>
                <td>{{gameData.status}}</td>
              </tr>
              <tr>
                <td class="text-default">CAN I JOIN WITHOUT INVITATION?</td>
                <td>{{gameData.needInvite | transformYesNoBoolean}}</td>
              </tr>
              <tr>
                <td class="text-default">CAN I JOIN AFTER THE GAME STARTED?</td>
                <td>{{gameData.hotJoin | transformYesNoBoolean}}</td>
              </tr>
              <tr>
                <td class="text-default">GAME MASTER:</td>
                <td [routerLink]="['/profile', gameMaster.login]">
                  <p class="profile-link" role="button">
                    <img [src]="imageToShow" class="profile-photo" alt="Profile image">{{gameMaster.firstname}} {{gameMaster.lastname}} ({{gameMaster.login}})
                  </p>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>  
  </div>
</div>
<div class="book-footer"></div>