<div>
  <button class="btn-forum" id="btn-back" (click)="onClickBack()">
    <span class="glyphicon glyphicon-arrow-left" style="padding-right: 20px"></span> BACK
  </button>
</div>                                                                                   
<div class="table-responsive">          
  <table class="table">
    <tbody>
      <tr>
        Game Master
      </tr>
      <tr>
        <td>
          <img *ngIf="gameMaster.photo" [src]="gameMaster.photo" alt="Profile image" style="width:100px; height: 100px">
          <img *ngIf="!gameMaster.photo" src="assets/unknown.png" alt="Profile image" style="width:100px; height: 100px">
        </td>
        <td>
          <h2 role="button" [routerLink]="['/profile', gameMaster.data.login]">{{gameMaster.data.firstname}} {{gameMaster.data.lastname}} ({{gameMaster.data.login}})</h2>
        </td>
      </tr>

      <tr>
        Accepted
      </tr>
      <tr *ngFor="let player of acceptedPlayers">
        <td>
          <img *ngIf="player.photo" [src]="player.photo" alt="Profile image" style="width:100px; height: 100px">
          <img *ngIf="!player.photo" src="assets/unknown.png" alt="Profile image" style="width:100px; height: 100px">
        </td>
        <td>
          <h2 role="button" [routerLink]="['/profile', player.data.login]">{{player.data.firstname}} {{player.data.lastname}} ({{player.data.login}})</h2>
        </td>
        <td>
          <h2 role="button" (click)="onRemove(player.data.id)">Kick</h2>
        </td>
      </tr>

      <tr>
        Requests
      </tr>
      <tr *ngFor="let player of waitingSelfRequested">
        <td>
          <img *ngIf="player.photo" [src]="player.photo" alt="Profile image" style="width:100px; height: 100px">
          <img *ngIf="!player.photo" src="assets/unknown.png" alt="Profile image" style="width:100px; height: 100px">
        </td>
        <td>
          <h2 role="button" [routerLink]="['/profile', player.data.login]">{{player.data.firstname}} {{player.data.lastname}} ({{player.data.login}})</h2>
        </td>
        <td>
          <h2 role="button" (click)="onAccept(player.data.id)">Accept</h2>
        </td>
        <td>
          <h2 role="button" (click)="onRemove(player.data.id)">Decline</h2>
        </td>
      </tr>
      
      <tr>
        Invitations
      </tr>
      <tr *ngFor="let player of waitingInvited">
        <td>
          <img *ngIf="player.photo" [src]="player.photo" alt="Profile image" style="width:100px; height: 100px">
          <img *ngIf="!player.photo" src="assets/unknown.png" alt="Profile image" style="width:100px; height: 100px">
        </td>
        <td>
          <h2 role="button" [routerLink]="['/profile', player.data.login]">{{player.data.firstname}} {{player.data.lastname}} ({{player.data.login}})</h2>
        </td>
        <td>
          <h2 role="button" (click)="onRemove(player.data.id)">Cancel</h2>
        </td>
      </tr>
    </tbody>
  </table>
</div>