<div class="form-container">
  <form class="form" (ngSubmit)="onSignIn(f)" #f="ngForm">
    <div class="heading">Sign In</div>
    <div class="alert btn-red" *ngIf="!isLoading && showAlert">
      <p>{{ alertMessage }}</p>
    </div>
    <div class="spinner" *ngIf="isLoading">
      <fa-icon class="spinner-icon" [icon]="faSpinner"></fa-icon>
    </div>
    <div class="form-content">
      <div class="input-group">
        <label for="input1" class="inp"> Login </label>
        <input
          type="login"
          id="input1"
          name="login"
          ngModel
          class="form-control"
        />
      </div>
      <div class="input-group">
        <label for="input2" class="inp"> Password </label>
        <input
          type="password"
          id="input2"
          name="password"
          ngModel
          class="form-control"
        />
      </div>
      <button class="btn-submit btn-forum btn-yellow" type="submit">SIGN IN</button>
    </div>
    <div class="footer">
      <p><a href="#">Forgot password?</a></p>
      <p>Don't have an account? <a [routerLink]="['/sign-up']">Sign up</a></p>
    </div>
  </form>
</div>
