@import '../../../../_variables'
@import '../../../../_mixins'
    
.content-body 
    margin-top: 20px
    padding: 20px
    background-color: $lightWhite
    @include border-shadow-default()
    .btn-wrap 
        padding: 20px 0
        .btn-ico 
            width: 15px
            margin-right: 5px
            margin-top: -5px
        .btn-forum 
            min-width: 203px
            font-size: 12px
            display: flex
            justify-content: center
            align-items: center
            padding: 10px
            border-radius: 10px
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19)
            border-style: solid
            background-color: #b1dafc6c
            border-color: #daebffd3
            border-width: 2px
            color: #252525
            cursor: pointer
        .btn-forum:hover 
            color: #f4511e
            background-color: #9ed2fcb4
            border-color: #e9ebfde0
        #btn-back 
            width: 125px
            background-color: #fff5bf6c
            border-color: #fff5dad3
        #btn-back:hover 
            background-color: #fcf1b1c0
            border-color: #fff5daef
        #btn-add-topic 
            background-color: #caffca6c
            border-color: #e2ffdad3
        #btn-add-topic:hover 
            background-color: #b1fcb1c2
            border-color: #c0f7b1d3
        #btn-your-character 
            background-color: #abd7fa6c
            border-color: #e9ebfdd3
        #btn-your-character:hover 
            background-color: #9ed2fcc5
            border-color: #e9ebfde0
        #btn-game-page 
            background-color: #fff5bf6c
            border-color: #fff5dad3
        #btn-game-page:hover 
            background-color: #fcf1b1c0
            border-color: #fff5daef
