@import './_variables'
    
@mixin linear-gradient($direction, $color-list) 
    background: linear-gradient($direction, $color-list) 

@mixin radial-gradient($position, $color1, $percentage1, $color2, $percentage2) 
    background: radial-gradient(circle at $position, $color1 $percentage1, $color2 $percentage2)

@mixin radial-gradient3($position, $color1, $percentage1, $color2_prctg, $color3_prctg) 
    background: radial-gradient(circle at $position, $color1 $percentage1, $color2_prctg, $color3_prctg)

@mixin linear-gradient($position, $color1, $percentage1, $color2, $percentage2) 
    background: linear-gradient(to $position, $color1 $percentage1, $color2 $percentage2)

@mixin border-shadow($x, $y, $radius, $color)
    border-radius: $radius
    box-shadow: 0px 0px $x $y $color

@mixin scrollbar($width, $bg-track, $bg-thumb)
    &::-webkit-scrollbar
        width: $width
        background: $bg-track
    &::-webkit-scrollbar-thumb
        background-color: $bg-thumb
        border-radius: 6px
        //border: 3px solid $primary

@mixin border-shadow-default()
    box-shadow: 0 1px 1px 0 #00000070
    
@mixin primary-container()
    background-color: $lightWhite
    border-radius: 5px
    box-shadow: 0px 0px 1px 1px #00000010

@mixin background-opacity($color, $opacity)
    background: rgba($color, $opacity)

.btn-forum 
    min-width: 100px
    width: 203px
    padding: 10px
    display: flex
    justify-content: center
    align-items: center
    background-color: #b1dafc6c
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19)
    border-radius: 10px
    border-style: solid
    border-color: #daebffd3
    border-width: 2px
    font-size: 12px
    color: #252525
    cursor: pointer
    &:hover
        color: #f4511e
        background-color: #9ed2fcb4
        border-color: #e9ebfde0
    .btn-ico 
        width: 15px
        margin-right: 5px
        margin-top: -5px
.btn-sm
    width: 100px
.btn-green 
    background-color: #caffca6c
    border-color: #e2ffdad3
.btn-green:hover 
    background-color: #b1fcb1c2
    border-color: #c0f7b1d3
.btn-yellow
    background-color: #fff5bf6c
    border-color: #fff5dad3
.btn-yellow:hover 
    background-color: #fcf1b1c0
    border-color: #fff5daef
.btn-blue 
    background-color: #abd7fa6c
    border-color: #e9ebfdd3
.btn-blue:hover 
    background-color: #9ed2fcc5
    border-color: #e9ebfde0

    
.profile-link
    cursor: pointer
    font-size: 14px
    &:hover
        color: $third
        img
            @include border-shadow(2px, 2px, 50%, $third)
    img
        height: 50px
        width: 50px
        border-radius: 50%
        margin-right: 10px
