/* You can add global styles to this file, and also import other style files */
html, body {
    height: 90vh;
    width: 100vw;
}
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    /*background-color: #252525;*/
    background-color: #ececec;
}
.main-content-wrap {
    /*background-color: #1bf5b411;*/
    background-color: transparent;
    padding-top: 120px;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #b1aeae;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  
.container-fluid {
    padding: 60px 50px;
}
.jumbotron {
    margin-top: 120px;
    padding-top: 10px;
    background-color: #e4e3e3;
    border-radius: 30px 30px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #252525;
    padding-left: 25px;
    font-family: Montserrat, sans-serif;
}
.content {
    margin-top: 120px;
    padding-top: 150px;
    background-color: #e4e3e3;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-color: #ffffff;
    color: #252525;
    padding-left: 25px;
    font-family: Montserrat, sans-serif;
}
.content-top {
    margin: -150px 0px 75px -25px;
    height: 80px;
    background-color: #f1efef;
    border-radius: 30px 30px 0px 0px;
}
.font19 {
    font-size: 19px;    
}