/* You can add global styles to this file, and also import other style files */
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    background-color: #252525;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #b1aeae;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  
.container-fluid {
    padding: 60px 50px;
}
.jumbotron {
    background-color: #252525;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.font19 {
    font-size: 19px;    
}