<form class="form-create" (ngSubmit)="onCreate(f)" #f="ngForm">            
    <div class="table-responsive default-font" style="width:75%;">          
        <table class="table table-info">
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            <tr>
              <td>Title:</td>
              <td>
                <input type="text" id="title" name="title" placeholder="Title" style="font-size: 19px" ngModel class="form-control">
              </td>
            </tr>
            <tr>
              <td>Category:</td>
              <td>
                <select class="form-control" id="category" [(ngModel)]="category" name="category" style="width: 150px">
                  <option>Support</option>
                  <option>Off-topic</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Text:</td>
              <td>
                <textarea id="message" name="message" rows="5" style="font-size: 19px" ngModel class="form-control"></textarea>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="float: right">
                <span class="btn-forum" id="btn-send" type="submit"><img class="btn-ico" src="assets/plus.png">SEND</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
  <!--<label for="title">Title:</label>
  <input type="text" id="title" name="title" placeholder="Title" style="font-size: 19px" ngModel class="form-control">
  <label for="category">Category:</label>
  <select class="form-control" id="category" [(ngModel)]="nofplayers" name="category">
      <option>Support</option>
      <option>Off-topic</option>
    </select>
  <label for="message">Text:</label>
  <textarea id="message" name="message" rows="5" style="font-size: 19px" ngModel class="form-control"></textarea>
  <button class="btn btn-lg btn-success btn-block" style="font-size: 20px" type="submit">Send</button>-->
</form>