.default-font {
    color: black;
    padding-right: 20px;
}
#btn-send {
    width: 125px;
    background-color: #caffca6c;
    border-color: #e2ffdad3;
}
#btn-send:hover {
    background-color: #b1fcb1c2;
    border-color: #c0f7b1d3;
}
.btn-ico {
    width: 30px;
}