.btn-reply-wrap {
    min-height: 83px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#btn-reply {
    min-width: 100px;
    background-color: #caffca6c;
    border-color: #e2ffdad3;
}
#btn-reply:hover {
    background-color: #b1fcb1c2;
    border-color: #c0f7b1d3;
}
#btn-back {
    margin-right: 20px;
    min-width: 100px;
    background-color: #fff5bf6c;
    border-color: #fff5dad3;
}
#btn-back:hover {
    background-color: #fcf1b1c0;
    border-color: #fff5daef;
}
.text-title {    
    position: relative;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.directory {
    position: absolute;
    display: inline-block;
    font-size: 17px;
    padding: 30px 0;
}
.content-body {
    padding-top: 0;
}
.content-body-heading {
    position: relative;
    margin: 0 -15px 0 -15px;
    padding: 20px 50px 0 50px;
    min-height: 77px;
    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: #ffffff;
}
.topic-name{
    font-size: 28px;
}