<form class="modal-form" #formOptions="ngForm" (ngSubmit)="onSaveChanges(f)">
  <label for="login">Email</label>
  <input
    type="email"
    id="email"
    name="email"
    placeholder="{{ myProfileData.email }}"
    ngModel
    class="form-control font19"
  />

  <label for="firstname">First name</label>
  <input
    type="text"
    id="firstname"
    name="firstname"
    placeholder="{{ myProfileData.firstname }}"
    ngModel
    class="form-control font19"
  />

  <label for="lastname">Last name</label>
  <input
    type="text"
    id="lastname"
    name="lastname"
    placeholder="{{ myProfileData.lastname }}"
    ngModel
    class="form-control font19"
  />

  <label for="city">City</label>
  <input
    type="text"
    id="city"
    name="city"
    placeholder="{{ myProfileData.city }}"
    ngModel
    class="form-control font19"
  />

  <label for="age">Age</label>
  <input
    type="number"
    min="5"
    max="100"
    id="age"
    name="age"
    placeholder="{{ myProfileData.age }}"
    ngModel
    class="form-control font19"
  />
  <div class="modal-footer">
    <button class="btn-forum btn-green" type="submit">
      SAVE
    </button>
  </div>
</form>
