@import '../../../../../../../_mixins'

.media
    padding: 10px
    margin: 20px
    background-color: #ffffff8c
    border-radius: 10px
    @include border-shadow-default()
    .media-object
        border-radius: 5px
        width: 45px
        margin-right: 10px
    .media-heading
        border-bottom-style: solid
        border-color: #e4e3e39a
        .link
            letter-spacing: 2px
