.panel-heading{
    font-size: 30px;
    font-weight: 900;
    font-family: Consolas, "Times New Roman", Times, serif;
    text-align: center;
}

.btn-default{
    width:100px
}

#animated-bar {
    position: fixed;
    z-index:99;
    left: -300px;
    transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -webkit-transition: left 0.4s ease-in-out;
}

#animated-bar:hover{
    left: 0px;
}

@media screen and (max-width: 360px) {
    .container {
        min-width: 360px;
    }
}