<div class="friends-list-wrap">
  <p>Friends list:</p>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr *ngFor="let friend of friendsAccepted">
          <td class="center">
            <img
              *ngIf="friend.photo != null"
              [src]="friend.photo"
              alt="Profile image"
            />
            <img
              *ngIf="friend.photo == null"
              src="assets/unknown.png"
              alt="Profile image"
            />
          </td>
          <td class="profile-data font-montserrat">
            <!--<h2 role="button" [routerLink]="['/profile', friend.data.login]">{{friend.data.firstname}} {{friend.data.lastname}} ({{friend.data.login}})</h2>-->
            <a role="button" [routerLink]="['/profile', friend.data.login]">
              {{ friend.data.firstname }}
              {{ friend.data.lastname }} ({{ friend.data.login }})
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isMyProfileFlag == true" class="table-responsive">
    <table class="table">
      <tbody>
        <tr *ngFor="let friend of invitations">
          <td>
            <img
              *ngIf="friend.photo != null"
              [src]="friend.photo"
              alt="Profile image"
            />
            <img
              *ngIf="friend.photo == null"
              src="assets/unknown.png"
              alt="Profile image"
            />
          </td>
          <td>
            <!--<h2 role="button" [routerLink]="['/profile', friend.data.login]">{{friend.data.firstname}} {{friend.data.lastname}} ({{friend.data.login}})</h2>-->
            <a role="button" [routerLink]="['/profile', friend.data.login]">
              {{ friend.data.firstname }}
              {{ friend.data.lastname }} ({{ friend.data.login }})
            </a>
          </td>
          <td>
            <h2 role="button" (click)="onAcceptFriend(friend.data.id)">
              Accept
            </h2>
          </td>
          <td>
            <h2 role="button" (click)="onRemoveFriend(friend.data.id)">
              Decline
            </h2>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
