.window {
    position: fixed;
    height: 475px;
    width: 350px;
    max-height: 475px;
    max-width: 350px;
    bottom: 1px;
    right: 45px;
    background-color: #f1efef;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #ffffff;
}
.content-top {
    position: fixed;
    /*bottom: 375px;*/
    right: 45px;
    height: 30px;
    width: 350px;
    z-index: 11;
    background-color: #f1efef;
    border-radius: 5px 5px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    border-bottom-style: none;
    font-family: Montserrat, sans-serif;
}
.chat {
    overflow-y: scroll;
    position: fixed;
    height: 400px;
    width: 347px;
    max-height: 400px;
    max-width: 347px;
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    color: #252525;
}
.chat-input {
    padding-top: 400px;
    bottom: 1px;
    z-index: 10;
}
.minimalized {
    transition: all 0.5s ease;
    -webkit-transform: translateY(425px);
    transform: translateY(425px);
}
.full {
    transition: all 0.5s ease;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.dunno {
    right: -3.5px;
}

.chat-nav {
    display: inline-block;
    min-width: 39px;
    padding-left: 15px;
}
#name {
    /*width: 293px;*/
    max-width: 293px;
    /*padding-left: 25px;*/
}
.icon {
    cursor: pointer;
}
.icon:hover{
    color: #f4511e;
}
#mini {
    padding-right: 5px;
}
#close {
}

.text-box {
    text-align: justify;
    padding-top: 35px;
    float: left;
}

.message {
    padding: 5px;
    background-color: #dddddd83;
    border-radius: 5px 5px 5px 5px;
}
.my-message {
    padding: 5px;
    right: 5px;
    background-color: #f4501e80;
    border-radius: 5px 5px 5px 5px;
}

.textarea {
    display: inline-block; 
    float: left; 
    margin-top: 5px; 
    margin-left: 5px;
    max-height: 60px;
    width: 275px;
    max-width: 275px;
}
.arrow {
    display: inline-block; 
    margin-right: 25px;
    float: right; 
    cursor: pointer;
    font-size: 20px;
}
.arrow:hover{
    color: #f4511e;
}