<div class="container">
  <div class="content default-font" >

    <div class="title-panel">
      <div class="content-top">
        <div style="display: inline-block; min-width: 400px;">
          <span class="text-outline text-title" [routerLink]="['/game', gameData.id, 'main']">{{ gameData.title }}</span>
          <span class="directory">
            /<a class="link" href="game/{{gameData.id}}/overview/forum"> Forum</a>
            /<a class="link" href="game/{{gameData.id}}/{{topicData.id}}/{{topicData.totalPages}}/view"> {{topicData.topicName}}</a>
          </span>
        </div>
        <div class="btn-wrap default-font" style="display: inline-block;">
            <span class="btn-forum" id="btn-user-access"><img class="btn-ico" src="assets/baner.png">USER'S ACCESS</span>
            <span class="btn-forum" id="btn-settings"><img class="btn-ico" src="assets/fix.png">MANAGE GAME SETTINGS</span>
            <span class="btn-forum" id="btn-edit"><img class="btn-ico" src="assets/pencil.png">MANAGE PLAYERS</span>
        </div>
      </div> 
    </div>

    <div class="content-body">
      <div class="btn-wrap">
        <a href="game/{{gameData.id}}/overview/new-topic"><span class="btn-forum" id="btn-add-topic"><img class="btn-ico" src="assets/plus.png">CREATE TOPIC</span></a>
        <span class="btn-forum" id="btn-your-character"><img class="btn-ico" src="assets/character.png">YOUR CHARACTER</span>
        <span class="btn-forum" id="btn-game-page"><img class="btn-ico" src="assets/gogame.png">GAME PAGE</span>
      </div>
  
      <app-game-forum *ngIf="subpage == 'forum'" [forumData]="forumData" [gameData]="gameData" [topicToPersonData]="topicToPersonData"[profileData]="profileData"></app-game-forum>
      <app-create-topic *ngIf="subpage == 'new-topic'" [forumData]="forumData" [profileData]="profileData" [iAmGameMaster]="iAmGameMaster"></app-create-topic>
    </div>
  
  </div>
</div>