.text-title {
    position: relative;
    padding-right: 15px;
    cursor: pointer;
    display: inline-block;
}
.directory {
    position: absolute;
    display: inline-block;
    font-size: 17px;
    padding: 30px 0;
}
.content-body {
    padding-top: 25px;
}