.row {
    min-height: 94.3vh;
    max-width: 98.8vw;
}

.column {
    min-height: 94.4vh;
}

#left {
    /*background-color: #F3D240;*/
    padding-left: 20%;
    padding-top: 5%;
    border-right-style: solid;
    border-color: #13976f;
    
    border-bottom-style: solid;
    border-color: #13976f;
}

#center {
    /*background-color: #90CCF4;*/
    border-right-style: solid;
    border-color: #13976f;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    min-height: 47.2vh;
    border-bottom-style: solid;
    border-color: #13976f;
    background-color: #1bf5b411;
    padding-top: 15%;
    padding-left: 32%;
}

.wrapper:hover {
    background-color: #1bf5b444;
}

#top {
    padding-top: 20%;
}

.btn {
    cursor: pointer;
}