  <div class="panel border" id="panel1">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="list-toggle" data-toggle="collapse" data-parent="#list" href="#game">
            <span class="title-panel-bg text-outline">{{ gameData.title }}</span>
            <span class="title-panel-sm">- {{ gameData.category }} - {{ gameData.status }} -</span>
          </a>
        </h4>
        <a class="toggle" (click)="toggleClick()" data-toggle="collapse" data-parent="#list" href="#game">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
      </div>
      <div id="game" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="description">{{gameData.description}}</div>  
          <!--<p class="text-outline" id="information-text">Game details:</p>-->  
          <div class="container details">
            <div class="row">
              <div class="col-xs-6 text-default">CATEGORY:</div>
              <div class="col-xs-6">{{gameData.category}}</div>
            </div>
            <div class="row">
              <div class="col-xs-6 text-default">START DATE:</div>
              <div class="col-xs-6">{{gameData.date | date: 'dd-MM-yyy'}}</div>
            </div>    
            <div class="row">
              <div class="col-xs-6 text-default">NUMBER OF PLAYERS:</div>
              <div class="col-xs-6">{{gameData.nofparticipants}}/{{gameData.maxplayers}}</div>
            </div>    
            <div class="row">
              <div class="col-xs-6 text-default">BOOK:</div>
              <div class="col-xs-6">{{gameData.book}}</div>
            </div>    
            <div class="row">
              <div class="col-xs-6 text-default">STATUS:</div>
              <div class="col-xs-6">{{gameData.status}}</div>
            </div>    
            <div class="row">
              <div class="col-xs-6 text-default">CAN I JOIN WITHOUT INVITATION?</div>
              <div class="col-xs-6">{{gameData.needInvite | transformYesNoBoolean}}</div>
            </div>    
            <div class="row">
              <div class="col-xs-6 text-default">CAN I JOIN AFTER THE GAME STARTED?</div>
              <div class="col-xs-6">{{gameData.hotJoin | transformYesNoBoolean}}</div>
            </div>    
            <div class="row">
              <div class="col-xs-6 text-default">GAME MASTER:</div>
              <div class="col-xs-6"[routerLink]="['/profile', gameMaster.login]">
                <p class="profile-link" role="button">
                  <img [src]="imageToShow" class="profile-photo" alt="Profile image">{{gameMaster.firstname}} {{gameMaster.lastname}} ({{gameMaster.login}})
                </p>
              </div>
            </div>    

         </div>
        </div>
      </div>
  </div>