  <div class="panel border" id="panel1">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="list-toggle" data-toggle="collapse" data-parent="#list" href="#game">
            <span class="title-panel-bg text-outline">{{ gameData.title }}</span>
            <span class="title-panel-sm">- {{ gameData.category }} - {{ gameData.status }} -</span>
          </a>
        </h4>
        <a class="toggle" (click)="toggleClick()" data-toggle="collapse" data-parent="#list" href="#game">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
      </div>
      <div id="game" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="description">{{gameData.description}}</p>  
          <!--<p class="text-outline" id="information-text">Game details:</p>-->  
          <div class="container details">                                                                                  
           <div class="table-responsive">          
            <table class="table">
              <tbody>
                <tr>
                  <td class="text-default">CATEGORY:</td>
                  <td>{{gameData.category}}</td>
                </tr>
                <tr>
                  <td class="text-default">START DATE:</td>
                  <td>{{gameData.date | date: 'dd-MM-yyy'}}</td>
                </tr>
                <tr>
                  <td class="text-default">NUMBER OF PLAYERS:</td>
                  <td>{{gameData.nofparticipants}}/{{gameData.maxplayers}}</td>
                </tr>
                <tr>
                  <td class="text-default">BOOK:</td>
                  <td>{{gameData.book}}</td>
                </tr>
                <tr>
                  <td class="text-default">STATUS:</td>
                  <td>{{gameData.status}}</td>
                </tr>
                <tr>
                  <td class="text-default">CAN I JOIN WITHOUT INVITATION?</td>
                  <td>{{gameData.needInvite | transformYesNoBoolean}}</td>
                </tr>
                <tr>
                  <td class="text-default">CAN I JOIN AFTER THE GAME STARTED?</td>
                  <td>{{gameData.hotJoin | transformYesNoBoolean}}</td>
                </tr>
                <tr>
                  <td class="text-default">GAME MASTER:</td>
                  <td [routerLink]="['/profile', gameMaster.login]">
                    <p class="profile-link" role="button">
                      <img [src]="imageToShow" class="profile-photo" alt="Profile image">{{gameMaster.firstname}} {{gameMaster.lastname}} ({{gameMaster.login}})
                    </p>
                  </td>
                </tr>
                <!--<tr>
                    <td class="text-default">PLAYERS:</td>
                    <td>
                      <table>
                        <tr *ngFor="let player of acceptedPlayers">
                            <td [routerLink]="['/profile', player.login]">
                              <p class="profile-link" role="button">
                                <img [src]="player.photo" class="profile-photo" alt="Profile image">{{player.data.firstname}} {{player.data.lastname}} ({{player.data.login}})
                              </p>
                            </td>
                        </tr>
                      </table>
                    </td>
                </tr>-->
              </tbody>
            </table>
           </div>
         </div>
        </div>
      </div>
  </div>