.panel {
    margin: 0px;
    background-color: #e4e3e3;
    border-radius: 30px 30px 0px 0px;
    border: 0px;
}
.panel-heading {
    display:flex;
    align-items:center;
}
.panel-title {
    width: 100%;
}
.toggle {
    float: right;
    font-size: 25px;
}
.toggle:hover {
    color: #f4511e;
}
.panel-body{
    padding-bottom: 0px;
}
.collapse.in {
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: #ffffff;
}

.description {
    text-align: justify;
    padding: 0 25px 0 25px;

}
#information-text {
    position: absolute;
    margin: 15px 0 0 150px;
}
.information {
    background-image: url("assets/notepad.png");
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: -10px;
    padding-top: 60px;
    padding-left: 125px;
    min-height: 500px;
    max-height: 793px;
    max-width: 1074px;
    color: #252525;
    font-family: Montserrat, sans-serif;
    border-radius: 30px 0 0 0;
    box-shadow:  15px -10px 15px -15px rgba(0, 0, 0, 0.2),  5px 0 5px -5px rgba(0, 0, 0, 0.19);
}
.profile-photo{
    width: 50px; 
    padding-right: 15px;
}
.profile-link:hover {
    color: #f4511e;
}
