<div class="container">
    <p class="text-outline">Create your game</p>
    <form (ngSubmit)="onCreate(f)" #f="ngForm" ngNativeValidate>        
        <table>
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
            </colgroup>
            <tbody>
                <tr>
                    <td class="label">
                        <label for="gameTitle">Game title*</label>
                    </td>
                    <td>
                        <input required type="text" id="gameTitle" name="gameTitle" placeholder="game title" ngModel class="form-control">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="genre">Game category / genre*</label>
                    </td>
                    <td>
                        <select required class="form-control input-sm" id="genre" ngModel name="genre">
                            <option *ngFor="let option of gameCategories">
                                {{option.name}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="date">Start date* (APPROXIMATELY)</label>
                    </td>
                    <td>
                        <input required type="date" id="date" name="date" placeholder="Start date" ngModel class="form-control input-sm">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="maxPlayers">Max. players*</label>
                    </td>
                    <td>
                        <input required type="number" min="0" id="maxPlayers" name="maxPlayers" ngModel class="form-control input-sm">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="book">Base book</label>
                    </td>
                    <td>
                        <input type="text" id="book" name="book" placeholder="book" ngModel class="form-control">        
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="box">Allow joining without invitation?*</label>
                    </td>
                    <td>
                        <input id="needInviteBox" type="checkbox" (click)='onBoxInvite(needInviteBox.checked);' #needInviteBox>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="box">Allow joining after the game started?*</label>
                    </td>
                    <td>
                        <input id="hotJoinBox" type="checkbox" (click)='onBoxHotJoin(hotJoinBox.checked);' #hotJoinBox>    
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="input-group">
            <p><label for="description">Story description*</label></p>
            <textarea required id="description" name="description" placeholder="Shortly describe your in-game world, introduce the background of the story, some character's models. But remember to keep some plots in secret..." rows="5" ngModel class="form-control"></textarea>    
        </div>
        <div class="input-group">
            <p><label for="comment">Additional comment</label></p>
            <textarea id="comment" name="comment" placeholder="Tips for players to properly imagine theris characters, etc. (you can leave it blank)" rows="5" ngModel class="form-control"></textarea>    
        </div>
        <!--<label for="file">GAME LOGO</label>
        <span class="text-sm" style="font-size: 14px">(Preferred size: 200x200 px. You can do it later, or use a default picture.)</span>
        <input type="file" id="file" name="file"  required #fileInput>-->

        <!--<label for="location">LOCATION</label><br>
        <input type="text" id="location" name="location" placeholder="Location" ngModel class="form-control">-->
            
        <p class="text-sm">Fields with (*) are required!</p> 
        <button class="btn-forum btn-lg" type="submit">Save & Create</button>
    </form>
    <div *ngIf="showAlert" class="alert-wrap">
      <div ngClass class="alert btn-red">{{ alertMessage }}</div>
    </div>
    <div class="spinner" *ngIf="isLoading">
      <fa-icon class="spinner-icon" [icon]="faSpinner"></fa-icon>
    </div>
  </div>