<nav class="navbar navbar-desktop font-montserrat">
  <a class="navbar-logo" href="home"
    ><img src="assets/logo.png" alt="Logo"
  /></a>
    <ul class="navbar-collapse">
      <li class="link">
        <a role="button" [routerLink]="['/search-game']">JOIN GAME</a>
      </li>
      <li class="link">
        <a role="button" [routerLink]="['/create-game']" >CREATE GAME</a>
      </li>
      <li class="link">
        <a role="button" [routerLink]="['/search-profile']">FIND PLAYERS</a>
      </li>
      <li class="link" *ngIf="!isLoggedIn">
        <a role="button" [routerLink]="['/sign-in']">SIGN IN</a>
      </li>
      <li class="link" *ngIf="!isLoggedIn">
        <a role="button" [routerLink]="['/sign-up']">SIGN UP</a>
      </li>
      <li #accountDropdown class="link dropdown-link" *ngIf="isLoggedIn">
          <div id="accountDropdown">
            MY ACCOUNT ▼
            <span *ngIf="checkActiveNotifications()">(!)</span>
          </div>
          <ul class="dropdown-list" id="dropdown-menu" #dropdownMenu>
            <li class="dropdown-link" (click)="goToMyProfile()">
              <span>My Profile</span>
            </li>
            <li class="dropdown-link" (click)="goToActivity('my-messages')">
              <span id="messages"
                >Messages <span *ngIf="notificationSet.message">(!)</span></span
              >
            </li>
            <li class="dropdown-link" (click)="goToActivity('my-games')">
              <span id="games"
                >My Games <span *ngIf="notificationSet.games">(!)</span></span
              >
            </li>
            <li class="dropdown-link" (click)="goToActivity('my-friends')">
              <span id="friends"
                >Friends <span *ngIf="notificationSet.friends">(!)</span></span
              >
            </li>
            <li class="dropdown-link" (click)="goToActivity('settings')">
              <span id="settings">Settings</span>
            </li>
          </ul>
        </li>
      <li class="link" (click)="onLogout()" *ngIf="isLoggedIn">
        <a href="home">LOGOUT</a>
      </li>
    </ul>
</nav>


<nav class="navbar navbar-mobile font-montserrat">
    <a class="navbar-logo" href="home"
      ><img src="assets/logo.png" alt="Logo"
    /></a>
    <button class="navbar-toggle" (click)="showNavbarMobile()" >
      <fa-icon class="toggle-icon" *ngIf="!dropIsDown" [icon]="faBars"></fa-icon>
      <fa-icon class="toggle-icon" *ngIf="dropIsDown" [icon]="faTimes"></fa-icon>
    </button>
    <ul *ngIf="dropIsDown" class="navbar-collapse">
      <li class="link">
        <a role="button" [routerLink]="['/search-game']" (click)="showNavbarMobile()">JOIN GAME</a>
      </li>
      <li class="link" [routerLink]="['/create-game']" (click)="showNavbarMobile()">
        <span>CREATE GAME</span>
      </li>
      <li class="link" [routerLink]="['/search-profile']" (click)="showNavbarMobile()">
        <span>FIND PLAYERS</span>
      </li>
      <li class="link" [routerLink]="['/sign-in']" *ngIf="!isLoggedIn" (click)="showNavbarMobile()">
        <span>SIGN IN</span>
      </li>
      <li class="link" [routerLink]="['/sign-up']" *ngIf="!isLoggedIn" (click)="showNavbarMobile()">
        <span>SIGN UP</span>
      </li>
      <li class="link dropdown-link" *ngIf="isLoggedIn">
          <div id="accountDropdown" (click)="collapseMyAccountDropdown()">
            MY ACCOUNT ▼
            <span *ngIf="checkActiveNotifications()">(!)</span>
          </div>
          <ul *ngIf="collapsedMyAccount" class="dropdown-list" id="dropdown-menu" #dropdownMenu>
            <li class="dropdown-link" (click)="goToMyProfile()">
              <span>My Profile</span>
            </li>
            <li class="dropdown-link" (click)="goToMyAccount($event)">
              <span id="messages"
                >Messages <span *ngIf="notificationSet.message">(!)</span></span
              >
            </li>
            <li class="dropdown-link" (click)="goToMyAccount($event)">
              <span id="games"
                >My Games <span *ngIf="notificationSet.games">(!)</span></span
              >
            </li>
            <li class="dropdown-link" (click)="goToMyAccount($event)">
              <span id="friends"
                >Friends <span *ngIf="notificationSet.friends">(!)</span></span
              >
            </li>
            <li class="dropdown-link" (click)="goToMyAccount($event)">
              <span id="settings">Settings</span>
            </li>
          </ul>
        </li>
      <li class="link" (click)="onLogout()" *ngIf="isLoggedIn">
        <a href="home">LOGOUT</a>
      </li>
    </ul>
</nav>

<div class="blur-overlay" *ngIf="dropIsDown"></div>