<div class="list-wrap">
  <div class="spinner" *ngIf="isLoading">
    <fa-icon class="spinner-icon" [icon]="faSpinner"></fa-icon>
  </div>
  <div *ngIf="!isLoading">
    <table>
      <colgroup>
         <col span="1" style="width: 60%;">
         <col span="1" style="width: 20%;">
         <col span="1" style="width: 20%;">
      </colgroup>
      <thead>
        <tr>
          <th>Title</th>
          <th>Players</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of gamesAccepted">
          <td type="button" class="button-name">
            <a [routerLink]="['/game']" [queryParams]="{gameId: game.game.id}">{{ game.game.title }}</a>
            <fa-icon *ngIf="game.isGameMaster == true" class="star-icon" title="Game Master" [icon]="faStar"></fa-icon>
          </td>
          <td class="details">{{ game.game.nofparticipants }} / {{ game.game.maxplayers }}</td>
          <td class="details">
            {{ game.game.status }}
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="isMyProfileFlag == true && invitations.length > 0">
      <p style="text-align: center;">Invitations:</p>
      <table>
        <colgroup>
           <col span="1" style="width: 40%;">
           <col span="1" style="width: 20%;">
           <col span="1" style="width: 20%;">
           <col span="1" style="width: 15%;">
        </colgroup>
        <thead>
          <tr>
            <th>Title</th>
            <th>Players</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let game of invitations">
            <td type="button" class="button-name">
              <a [routerLink]="['/game']" [queryParams]="{gameId: game.game.id}">{{ game.game.title }}</a>
            </td>
            <td class="details">{{ game.game.participants.length }} / {{ game.game.maxplayers }}</td>
            <td class="details">
              {{ game.game.status }}
            </td>
            <td class="details">
                <button
                  type="button"
                  class="btn-accept"
                  (click)="onAcceptRequest(game.id)"
                >
                  <fa-icon class="star-icon" title="Accept" [icon]="faCheck"></fa-icon>
                </button>
                <button
                  type="button"
                  class="btn-decline"
                  (click)="onDeclineRequest(game.id)"
                >
                  <fa-icon class="star-icon" title="Decline" [icon]="faTimes"></fa-icon>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>