<form name="myform" class="form-create" (ngSubmit)="onCreate(f)" #f="ngForm">            
    <div class="table-responsive default-font" style="width:75%;">          
        <table class="table table-info">
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            <tr>
              <td>Text:</td>
              <td>
                <textarea id="message" name="message" rows="5" ngModel class="form-control"></textarea>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="float: right">
                <button class="btn-forum" id="btn-send" type="submit"><img class="btn-ico" src="assets/plus.png">SEND</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</form>