<div class="container">  
  <p class="text-default" style="font-size: 20px; text-align: right">
    Who are you looking for?
  </p>
  <div class="filters">
    <form (ngSubmit)="onSearch(f)" #f="ngForm">
      <div class="input-group">
        <label for="firstname">First name</label>
        <input
          type="text"
          class="form-control"
          id="firstname"
          name="firstname"
          ngModel
        />
      </div>
      <div class="input-group">
        <label for="lastname">Last name</label>
        <input
          type="lastname"
          class="form-control"
          id="lastname"
          name="lastname"
          ngModel
        />
      </div>
      <div class="input-group">
        <label for="login">Nickname</label>
        <input
          type="login"
          class="form-control"
          id="login"
          name="login"
          ngModel
        />
      </div>
      <div class="input-group btn-wrap">
        <button class="btn-forum btn-green" id="btn-search" type="submit">
          SEARCH
        </button>
      </div>
    </form>
  </div>
</div>

<app-search-results-profile [isLoading]="isLoading" [foundProfiles]="foundProfiles"></app-search-results-profile>
