<div class="container">
  <p class="title-panel">{{ gameData.title }}</p>
  <div class="content" >
    <div class="content-top"></div>

    <div class="nav-wrap">
      <div class="row">
        <div class="col-md-4" style="padding: 0px 0 0 50px;">
          <img src="{{imageUrl}}" alt="Mafia image">
        </div>
        <div class="col-md-8" style="padding: 30px 0 0 150px;">
          <div class="btn-join" data-toggle="tooltip" title="Send nudes pls" (click)="onSendMessage()">
            <p class="btn-text">JOIN GAME</p>
          </div>
      </div>
    </div>


<!--
        <button *ngIf="iAmMaster == false && iAmParticipant == false" type="button" class="btn btn-warning btn-lg" style="width:100%;" (click)="onJoin()" >
            <span class="glyphicon glyphicon-log-in"></span> {{info}}
          </button>
          <button *ngIf="iAmMaster == true" type="button" class="btn btn-success btn-lg" style="width:100%;" data-toggle="modal" data-target="#modalDecision" (click)="onManageRequests()">
            <div *ngIf="waitingSelfRequested.length >= 1">
              <span class="glyphicon glyphicon-envelope"> NEW!</span>
            </div> 
          <span class="glyphicon glyphicon-folder-open"></span> Manage joining requests ({{numberOfRequests}} remaining)
        </button>
          <button *ngIf="iAmMaster == true" type="button" class="btn btn-success btn-lg" style="width:100%;" data-toggle="modal" data-target="#modalDecision" (click)="onSetScheme()">
            <span class="glyphicon glyphicon-pencil"></span> Set character's card scheme
          </button>
          <button *ngIf="iAmMaster == true" type="button" class="btn btn-success btn-lg" style="width:100%;" data-toggle="modal" data-target="#modalDecision" (click)="onNewSession()">
            <span class="glyphicon glyphicon-calendar"></span> Plan new game session
          </button>
          <button *ngIf="iAmParticipant == true" type="button" class="btn btn-success btn-lg" style="width:100%;" data-toggle="modal" data-target="#modalDecision" (click)="onShowSessions()">
            <span class="glyphicon glyphicon-calendar"></span> Show game sessions
          </button>
          <button *ngIf="iAmMaster == true || iAmParticipant == true" type="button" class="btn btn-success btn-lg" style="width:100%;" data-toggle="modal" data-target="#modalDecision" (click)="onShowPlayers()">
            <span class="glyphicon glyphicon-user"></span> Show players
          </button>
          <button *ngIf="iAmParticipant == true" type="button" class="btn btn-success btn-lg" style="width:100%;" data-toggle="modal" data-target="#modalDecision" (click)="onSetCard()">
            <span class="glyphicon glyphicon-pencil"></span> Set your character's card
          </button>
          <button *ngIf="iAmParticipant == true" type="button" class="btn btn-warning btn-lg" style="width:100%;" data-toggle="modal" data-target="#modalDecision" (click)="onLeave()">
            <span class="glyphicon glyphicon-log-out"></span> Leave this game
          </button>
          <button *ngIf="iAmMaster == true" type="button" class="btn btn-warning btn-lg" style="width:100%;" data-toggle="modal" data-target="#modalDecision" (click)="onEndGame()" >
            <span class="glyphicon glyphicon-log-out"></span> End game
          </button>
    </div>
  </div>

  <div id="modalDecision" class="modal fade" role="dialog" style=" margin-top: 50px;">
    <div class="modal-dialog modal-lg">
  
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close modal-btn-close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{modalTitle}}</h4>
          </div>
          <div class="panel-body">

            <div class="alert alert-success" role="alert" *ngIf="wasSuccess == true">
              Changes were saved!
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="wasFailure == true">
              An error occured!
            </div>

            <div *ngIf="buttonManager.manageRequests == true">
              <table class="table center">
                <tbody>
                    <div *ngIf="isNewRequest == false">
                      <h3>There are no new join-requests</h3>
                    </div>
                    <tr *ngFor="let invite of waitingSelfRequested">
                      <td>
                        <h2 role="button" [routerLink]="['/profile', invite.login]">{{invite.firstname}} {{invite.lastname}} ({{invite.login}})</h2>
                      </td>
                      <td>
                        <h2 class="decision">
                          <button type="button" class="btn btn-success" (click)="onAcceptRequest(invite.id)">
                            <span class="glyphicon glyphicon-ok"></span> Accept
                          </button>
                          <button type="button" class="btn btn-danger" (click)="onDeclineRequest(invite.id)">
                            <span class="glyphicon glyphicon-remove"></span> Decline
                          </button>
                        </h2>
                      </td>
                    </tr>
                </tbody>
              </table>
              <button *ngIf="iAmMaster == true" type="button" class="btn btn-success btn-sm" style="width:100%;" data-dismiss="modal" [routerLink]="['/invite-to-game', gameData.id]">
                <span class="glyphicon glyphicon-folder-envelope"></span> Send invite to friend 
              </button>
              <table class="table center">
                  <tbody>
                      <div *ngIf="isNewInvited == false">
                        <h3>There are no waiting invitations</h3>
                      </div>
                      <tr *ngFor="let invite of waitingInvited">
                        <td>
                          <h2 role="button" [routerLink]="['/profile', invite.login]">{{invite.firstname}} {{invite.lastname}} ({{invite.login}})</h2>
                        </td>
                        <td style="padding-top: 5%"><i>is waiting...</i></td>
                      </tr>
                  </tbody>
                </table>
            </div>

            <div *ngIf="buttonManager.setScheme == true">
                <form class="form-inline" (ngSubmit)="onAddSkill(f)" #f="ngForm" ngNativeValidate>
                  <input type="text" id="skill" name="skill" placeholder="Skill name" style="font-size: 19px" ngModel class="form-control" required>
                  <button type="button" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus"> Add</span></button>
                </form>

                <span *ngFor="let skill of gameData.skillSetting; let i = index">
                  <span class="remove-element" id="skill{{i}}">{{skill.skillName}}</span> <span role="button" id="cross{{i}}" class="glyphicon glyphicon-remove remove-icon" (click)="onRemoveSkill(skill.id, i)"></span> <br>
                </span>
                <span *ngFor="let skill of newSkillsNames; let i = index">
                  {{skill}} <span role="button" class="glyphicon glyphicon-remove remove-icon" (click)="onRemoveNewSkill(i)"></span> <br>
                </span>
            </div>

            <div *ngIf="buttonManager.newSession == true">
                <form class="form-signin" (ngSubmit)="onAddSession(f)" #f="ngForm" ngNativeValidate>
                    <label for="stitle">Session title:</label>
                    <input type="text" id="stitle" name="stitle" placeholder="Session title" style="font-size: 19px" ngModel class="form-control" required>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" placeholder="Date" style="font-size: 19px" ngModel class="form-control" required>
                    <button type="button" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus"> Add</span></button>
                </form>

                <span *ngFor="let session of gameData.sessions; let i = index">
                    <span class="remove-element" id="ses{{i}}">{{i + 1}}. {{session.sessionName}} - {{session.date}}</span><span role="button" id="cros{{i}}" class="glyphicon glyphicon-remove remove-icon" (click)="onRemoveSession(session.id, i)"></span> <br>
                </span>
                <span *ngFor="let session of newGameSessions; let i = index">
                    {{i + 1 + gameData.sessions.length}}. {{session.sessionName}} - {{session.date}} <span role="button" class="glyphicon glyphicon-remove remove-icon" (click)="onRemoveNewSession(i)"></span> <br>
                </span>
            </div>

            <div *ngIf="buttonManager.showSessions == true">
                <span *ngFor="let session of gameData.sessions; let i = index">
                    <span>{{i + 1}}. {{session.sessionName}} - {{session.date}}</span><br>
                </span>
                <span *ngIf="gameData.sessions.length == 0 && buttonManager.showSessions == true">There are no game sessions planned yet.</span>
            </div>

            <div *ngIf="buttonManager.setCard == true">
                <span *ngFor="let skill of gameData.skillSetting; let i = index">
                    <label for="svalue">{{skill.skillName}}:</label>
                    <input type="number" id="svalue" name="svalue" style="font-size: 19px" ngModel class="form-control" required>                 
                </span>
            </div>

            <div *ngIf="buttonManager.showPlayers == true">
              <table>
                <tbody>
                  <tr *ngFor="let player of gameData.participants; let i = index">
                    <td>
                      <a [routerLink]="['/profile', player.login]" data-dismiss="modal">
                        <h2 style="display:inline; padding-right: 250px" role="button"><span *ngIf="player.id == gameData.masterId" title="Game Master" class="glyphicon glyphicon-star"></span>
                          {{player.firstname}} {{player.lastname}} ({{player.login}})
                        </h2>
                      </a>
                    </td>
                    <td *ngIf="player.id != gameData.masterId">
                      <span *ngIf="iAmMaster == true" style="display:inline;" role="button" id="card{{i}}" class="glyphicon glyphicon-book book-icon" title="Show character's card" (click) = showCard()></span> 
                    </td>
                    <td *ngIf="player.id != gameData.masterId">
                      <span *ngIf="iAmMaster == true" style="display:inline;" role="button" id="cross{{i}}" class="glyphicon glyphicon-remove remove-icon" title="Kick player: {{player.login}}" (click) = kickPlayer()></span>
                    </td>           
                  </tr>
              </tbody>
              </table>
            </div>

            <div *ngIf="buttonManager.setCard == true">
              <div *ngFor="let skill of gameData.skillSetting; let i = index">
                <label for="age">{{skill.skillName}}</label>
                <input type="number" min="0" max="100" id="skillValue{{i}}" name="skillValue{{i}}" style="font-size: 19px" ngModel class="form-control inline" required>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="onSaveChanges()">Save</button>
          </div>
      </div>
  
    </div>
  </div>
-->

  <p class="description">{{gameData.description}}</p>  
   <div class="container information">
    <p>Informations:</p>                                                                                      
    <div class="table-responsive">          
    <table class="table">
      <tbody>
        <tr>
          <td>Category:</td>
          <td>{{gameData.category}}</td>
        </tr>
        <tr>
          <td>Location:</td>
          <td>{{gameData.location}}</td>
        </tr>
        <tr>
          <td>Date:</td>
          <td>{{gameData.date}}</td>
        </tr>
        <tr>
          <td>Number of players:</td>
          <td>{{gameData.nofparticipants}}/{{gameData.nofplayers}}</td>
        </tr>
        <tr>
          <td>Book:</td>
          <td>{{gameData.book}}</td>
        </tr>
        <tr>
          <td>Status:</td>
          <td>{{status}}</td>
        </tr>
        <tr>
          <td>Game master:</td>
          <td [routerLink]="['/profile', gameMaster.login]">
            <h2 role="button">{{gameMaster.firstname}} {{gameMaster.lastname}} ({{gameMaster.login}})</h2>
          </td>
        </tr>
        <tr>
            <td>Players:</td>
            <td>
              <table>
                <tr *ngFor="let player of acceptedPlayers">
                    <td [routerLink]="['/profile', player.login]">
                      <h2 role="button">{{player.firstname}} {{player.lastname}} ({{player.login}})</h2>
                    </td>
                </tr>
              </table>
            </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
</div>