.content {
    padding-top: 0px;
    margin-top: 120px;
}
.content-top {
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px -5px #333;
}

.title-panel {
    position: absolute;
    padding: 140px 0 0 140px;
    color: #000000;
    font-size: 26px;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
}
.btn-join {
    display: inline-block;
    height: 100px;
    width: 300px;
    padding-left: 10px;
    margin-right: -4px;
    cursor: pointer;
    background-color: #f1efef;
    background-repeat: no-repeat;
    background-image: url("assets/btn-join-game.png");
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 2px #58a33c;
}
.btn-join:hover {
    box-shadow: inset 0 5px 5px 0 rgba(16, 61, 14, 0.24), 0 17px 50px 0 rgba(16, 61, 14, 0.24);
    background-image: url("assets/btn-join-game-hover.png");
    background-color: rgba(80, 244, 30, 0.1);
    color: #58a33c;
}
.btn-text {
    padding-top: 35px;
    padding-left: 120px;
    line-height: 1.15;
    font-size: 25px;
}
.description {
    text-align: justify;
    padding: 50px 50px 0 25px;

}
.information {
    background-image: url("assets/notepad.png");
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: -10px;
    padding-top: 30px;
    padding-left: 125px;
    max-width: 1074px;
    color: #252525;
    font-family: Montserrat, sans-serif;
    border-radius: 30px 0 0 0;
    box-shadow:  15px -10px 15px -15px rgba(0, 0, 0, 0.2),  5px 0 5px -5px rgba(0, 0, 0, 0.19);
}






h2 {
    color: white;
    font-size: medium;
}
h2:hover {
    color: #42ffc6;
}
.panel-body {
    min-width: 420px;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}
.modal-header {
    background-color: #13976f;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
}

.modal-title {
    border-color: transparent;
    color: #fff !important;
}

.modal-btn-close {
    border-color: transparent;
    color: azure;
}

.modal-content {
    background-color: #3a3a3a;
}

.modal-body {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 19px;
}

.remove-icon {
    color: #cf0d27;
}

.remove-icon:hover {
    color: #ff4961;
}

.book-icon {
    color: #16a87c;
}

.book-icon:hover {
    color: #00ffb3;
}


.remove-element {
    color: white;
}

.remove-clicked {
    color: #ff4961;
}
