.content-body {
    padding: 0 10% 0 10%;
}
.filters {
    max-width: 900px;
    padding: 25px 25px 15px 25px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.274);
    border-radius: 25px;
}
#categories {
    text-align: center;
    margin-bottom: 20px;
}
.category-name {
    display: inline-block !important;
    margin-right: 20px;
    cursor: pointer;
}
.category-name:hover {
    color: tomato;
}
.focus {
    color: tomato;
}
.btn-ico {
    width: 15px;
    margin-right: 5px;
    margin-top: -5px;
}
#btn-send {
    margin-left: auto;
    background-color: #caffca6c;
    border-color: #e2ffdad3;
    width: 100px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-width: 2px;
    color: #252525;
    cursor: pointer;
}
#btn-send:hover {
    color: #f4511e;
    background-color: #b1fcb1c2;
    border-color: #c0f7b1d3;
}
.media {
    background-color: rgba(255, 255, 255, 0.274);
    border-radius: 20px;
    margin-top: 30px;
    padding: 15px 5% 15px 10px;
}
a {
    color: black;
}
a:hover {
    color: #f4511e;
}
.game-players {
    float: right;
}
.game-master {
    display: inline-block;
    letter-spacing: 2px;
    margin-left: 25px;
}
.game-description {
    text-align: justify;
}