<div *ngIf="!isLoading">
  <div class="media" *ngFor="let post of posts; let i = index">
    <div class="media-content">
      <div class="media-left">
        <img
          *ngIf="post.photo == null"
          src="assets/unknown.png"
          alt="Profile image"
          class="media-object"
        />
        <img
          *ngIf="post.photo != null"
          [src]="post.photo"
          alt="Profile image"
          class="media-object"
        />
      </div>
      <div class="media-body">
        <p class="media-heading default-font">
          <a *ngIf="post.user.lastname !== 'left the game' && post.user.login !== 'unknown'" class="link" href="/profile/{{ post.user.login }}"
            >{{ post.user.firstname }} {{ post.user.lastname }} ({{
              post.user.login
            }})</a
          >
          <span *ngIf="post.user.lastname === 'left the game' && post.user.login === 'unknown'"
            >{{ post.user.firstname }} {{ post.user.lastname }} ({{
              post.user.login
            }})</span
          >
          <small *ngIf="post.message.editDdate == null"
            ><i>Posted on {{ post.message.sendDdate | date: "long" }}</i></small
          >
          <small *ngIf="post.message.editDdate != null"
            ><i>Edited on {{ post.message.editDdate | date: "long" }}</i></small
          >
        </p>
        <!--<p class="message-body" id="message{{ i }}"></p>-->
        <p class="message-body" [innerHTML]="post.message.bodyMessage"></p>
      </div>
    </div>
    <div class="media-footer">
      <div *ngIf="loggedUserId === post.user.id && i !== 0" class="icons-wrap">
        <div class="option" (click)="onEditPostClick(post.message.id)">
          <fa-icon class="icon" [icon]="faEdit"></fa-icon>
          <span class="title">Edit</span>
        </div>
        <div class="option" (click)="onDeletePostClick(post.message.id)">
          <fa-icon class="icon" [icon]="faTrashAlt"></fa-icon>
          <span class="title">Delete</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showModal">
  <app-modal [modalTitle]="'Confirmation'" [showModalFlag]="showModal" (closeModalEvent)="closeModal($event)">
    <div class="confirmation-modal-body">
      <div *ngIf="showAlert" class="alert">{{ alertMessage }}</div>
      <div class="spinner" *ngIf="isLoadingDelete">
        <fa-icon class="spinner-icon" [icon]="faSpinner"></fa-icon>
      </div>
      <p class="confirmation-text">Are you sure you want to delete this message?</p>
      <div class="btns-wrap center">
        <button class="btn-forum btn-red" (click)="deleteMessage()">
          Delete
        </button>
        <button class="btn-forum btn-yellow" (click)="closeModal(false)">
          Cancel
        </button>
      </div>
    </div>
  </app-modal>
</div>
