<div class="topic-list">
  <div class="category-group" *ngFor="let category of topicsList">
    <div *ngIf="category.topics.length > 0">
      <p class="category-name">{{ category.name }}</p>
      <div class="topic" *ngFor="let topic of category.topics; let i = index">
        <div class="media">
          <div class="media-left">
            <img
              *ngIf="topic.wasSeen"
              class="media-object topic-img"
              src="assets/topic-new.png"
              alt="New message!"
            />
            <img
              *ngIf="!topic.wasSeen"
              class="media-object topic-img"
              src="assets/topic.png"
              alt="Seen"
            />
          </div>
          <div class="media-body">
            <div class="media-heading">
              <p>
                <a class="topic-title clickable"
                  [routerLink]=""
                  [queryParams]="{gameId: gameData.id, topicId: topic.topicData.id, pageNumber: topic.topicData.totalPages, pageSize: pageSize}"
                  >{{ topic.topicData.topicName }}
                </a>
              </p>
              <ul *ngIf="topic.topicData.totalPages > 1" class="pagination">
                <li class="page-item" *ngIf="topic.topicData.totalPages > 2">
                  <a class="page-link"
                    [routerLink]=""
                    [queryParams]="{gameId: gameData.id, topicId: topic.topicData.id, pageNumber: 1, pageSize: pageSize}"
                    >1</a
                  >
                </li>
                <li class="dots page-item" *ngIf="topic.topicData.totalPages > 3">...</li>
                <li class="page-item">
                  <a
                    class="page-link"
                    [routerLink]=""
                    [queryParams]="{gameId: gameData.id, topicId: topic.topicData.id, pageNumber: topic.topicData.totalPages - 1, pageSize: pageSize}"
                    >{{ topic.topicData.totalPages - 1 }}</a
                  >
                </li>
                <li class="page-item">
                  <a
                    class="page-link"
                    [routerLink]=""
                    [queryParams]="{gameId: gameData.id, topicId: topic.topicData.id, pageNumber: topic.topicData.totalPages, pageSize: pageSize}"
                    >{{ topic.topicData.totalPages }}</a
                  >
                </li>
              </ul>
            </div>
            <p class="media-bottom">
                <span
                  class="font-montserrat topic-info clickable"
                  [routerLink]="['/profile', topic.author.login]"
                  >{{ topic.lastAuthor.firstname }}
                  {{ topic.lastAuthor.lastname }} ({{
                    topic.lastAuthor.login
                  }})
                </span>
                <span class="font-montserrat msg-info">- {{ topic.lastPostDate | date: "h:mm:ss dd-MM-yyy" }} - LAST POST</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
