.topic-list
    padding: 0 20px
    .category-group
        padding: 15px 0
        .media
            padding: 5px 10px 0px 10px
            border-radius: 10px 10px 10px 10px
            .topic-title
                font-size: 19px
            .topic-info
                letter-spacing: 1px
                border-radius: 0
            .media-left
                padding: 10px 0px
            .media-body
                text-align: left
                padding-left: 15px
                .media-heading
                    margin: 0
            .media-bottom
                border-top-style: solid
                border-color: #e4e3e39a
                margin: 0px
            img
                width: 40px
            .pagination
                margin: 0px 0px
                margin-left: 30px
                .dots
                    margin: 0 5px
                .page-item
                    cursor: pointer
                    a, span
                        float: none
                        color: #f4511e
                        font-size: 12px !important
                        padding: 4px 8px
