<div class="forum-content">
  <div class="btn-container">
    <div class="btn-wrap">
      <button *ngIf="iAmGameMaster" class="btn-forum btn-yellow" (click)="onUserAccess()">
        Users access
      </button>
    </div>
    <div class="btn-wrap">
      <button *ngIf="iAmGameMaster" class="btn-forum btn-blue" (click)="onGameSettings()">
        Game settings
      </button>
    </div>
    <div class="btn-wrap">
      <button *ngIf="iAmGameMaster" class="btn-forum btn-blue" (click)="onManagePlayers()">
        Manage players
      </button>
    </div>
    <div class="btn-wrap">
      <button *ngIf="iAmGameMaster" class="btn btn-forum btn-red" (click)="onEndGame()">
        End Game
      </button>
    </div>
    <div class="btn-wrap">
      <button class="btn-forum btn-green" (click)="onCreateTopic()">
        Create topic
      </button>
    </div>
    <div class="btn-wrap">
      <button *ngIf="!iAmGameMaster" class="btn-forum btn-blue" (click)="showModal(0, true, 'Your character')">
        Your character
      </button>
    </div>
    <div class="btn-wrap">
      <button *ngIf="!iAmGameMaster" class="btn-forum btn-blue" (click)="showModal(1, true, 'Players')">
        Players
      </button>
    </div>
    <div class="btn-wrap">
      <button *ngIf="!iAmGameMaster" class="btn-forum btn-yellow" (click)="onLeaveGame()">
        LEAVE GAME
      </button>
    </div>
  </div>

  <app-topic
    *ngIf="subpageManager.topic && !isLoading"
    [forumData]="forumData"
    [gameData]="gameData"
    [topicToPersonData]="topicToPersonData"
    [profileData]="profileData"
    [topicData]="topicData"
    [navigate]="navigate"
    [totalPages]="totalPages"
  ></app-topic>
  <app-topic-list
    *ngIf="subpageManager.topicList && !isLoadingTopics"
    [forumData]="forumData"
    [gameData]="gameData"
    [topicToPersonData]="topicToPersonData"
    [profileData]="profileData"
    [topicsList]="topicsList"
    [navigate]="navigate"
  ></app-topic-list>
  <app-create-topic
    *ngIf="subpageManager.createTopic"
    [gameData]="gameData"
    [forumData]="forumData"
    [profileData]="profileData"
    [iAmGameMaster]="iAmGameMaster"
  ></app-create-topic>
</div>

<div *ngIf="showModalFlag">
  <app-modal [modalTitle]="modalTitle" [showModalFlag]="showModalFlag" (closeModalEvent)="closeModal($event)"> 
    <div *ngIf="modalOption === 0">
      <p style="text-align: center; margin: 30px 0">Nothing here yet! Content in construction...</p>
    </div>
    <div *ngIf="modalOption === 1">
      <div *ngIf="acceptedPlayers.length > 0" class="list">
        <a
          *ngFor="let player of acceptedPlayers; index as i"
          class="profile-link"
          role="button"
          [routerLink]="['/profile', player.data.login]"
        >
          <img
            *ngIf="player.photo"
            [src]="player.photo"
            alt="Profile image"
          />
          <img
            *ngIf="player.photo == null"
            src="assets/unknown-no-bg.png"
            alt="Profile image"
          />
          <span class="name">{{ player.data.firstname }} {{ player.data.lastname }} ({{
            player.data.login
          }})</span>
        </a>
      </div>
      <p style="text-align: center; margin: 30px 0" *ngIf="acceptedPlayers.length < 1">There are no players yet!</p>
    </div>
  </app-modal>
</div>