<div class="container">
  <div class="profile-header row">
    <div class="col-md-3 image-wrap center">
      <img
        src="assets/unknown.png"
        alt="Profile image"
        class="profile-photo"
        *ngIf="defaultImage == true"
      />
      <img
        [src]="imageToShow"
        alt="Profile image"
        class="profile-photo"
        *ngIf="defaultImage == false"
      />
    </div>
    <div class="col profile-control">
      <p class="profile-name">
        {{ userProfileData.firstname }} {{ userProfileData.lastname }}
      </p>
      <div class="btn-wrap">
        <div *ngIf="isMyProfileFlag == false && mobileViewFlag == false">
          <button
            class="btn-profile"
            id="send_message"
            data-toggle="tooltip"
            title="Send nudes pls"
            (click)="onSendMessage()"
          >
            <p class="btn-text">
              Send<br />
              message
            </p>
          </button>
          <button
            *ngIf="isFriendFlag == false && isInvitedFlag == false"
            class="btn-profile friend-opt"
            id="send_invite"
            (click)="onSendInvite()"
          >
            <p class="btn-text">
              Send<br />
              invite
            </p>
          </button>
          <button
            *ngIf="isFriendFlag == false && isInvitedFlag == true"
            class="btn-profile friend-opt"
            id="invite_waiting"
          >
            <p class="btn-text">
              Invite<br />
              is waiting...
            </p>
          </button>
          <button
            *ngIf="isFriendFlag == true"
            class="btn-profile friend-opt"
            id="delete_friend"
            (click)="deleteFriend()"
          >
            <p class="btn-text">
              Delete<br />
              friend
            </p>
          </button>
        </div>
        <div class="btn-big" id="my-page" *ngIf="isMyProfileFlag == true">
          <button
            class="btn-profile"
            id="change_personal_data"
            data-toggle="modal"
            data-target="#modalChangeData"
          >
            <p class="btn-text">
              Change<br />
              profile info
            </p>
          </button>
          <button
            class="btn-profile"
            id="change_passwrod"
            data-toggle="modal"
            data-target="#modalChangePassword"
          >
            <p class="btn-text">
              Change<br />
              password
            </p>
          </button>
          <button
            class="btn-profile"
            id="change_image"
            data-toggle="modal"
            data-target="#modalChangeImage"
          >
            <p class="btn-text">
              Change<br />
              profile picture
            </p>
          </button>
        </div>
        <div
          class="btn-mobile"
          id="my-page"
          *ngIf="isMyProfileFlag == true && mobileViewFlag == true"
        >
          <button class="btn-profile" id="settings" (click)="onGoToSettings()">
            <p class="btn-text">Settings</p>
          </button>
        </div>
      </div>
    </div>
    <div class="col profile-info center">
      <table>
        <tbody>
          <tr>
            <td>Nickname:</td>
            <td class="profile-data">{{ userProfileData.login }}</td>
          </tr>
          <tr *ngIf="isFriendFlag == true || isMyProfileFlag == true">
            <td>Email:</td>
            <td class="profile-data">{{ userProfileData.email }}</td>
          </tr>
          <tr>
            <td>First name:</td>
            <td class="profile-data">{{ userProfileData.firstname }}</td>
          </tr>
          <tr>
            <td>Last name:</td>
            <td class="profile-data">{{ userProfileData.lastname }}</td>
          </tr>
          <tr>
            <td>City:</td>
            <td class="profile-data">{{ userProfileData.city }}</td>
          </tr>
          <tr *ngIf="isFriendFlag == true">
            <td>Age:</td>
            <td class="profile-data">{{ userProfileData.age }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="profile-content">
    <ul class="profile-nav font-montserrat">
      <li id="nav-profile-games" class="active" (click)="onNavProfile($event)">
        GAMES
      </li>
      <li id="nav-profile-friends" (click)="onNavProfile($event)">
        FRIENDS
      </li>
    </ul>
    <div class="profile-children">
      <app-profile-friends
        *ngIf="viewChildFlag == false"
        [userFriends]="userFriends"
        [myFriends]="myFriends"
        [isMyProfileFlag]="isMyProfileFlag"
      ></app-profile-friends>
      <app-profile-games
        *ngIf="viewChildFlag == true"
        [userGamesAPPList]="userGamesAPPList"
        [isMyProfileFlag]="isMyProfileFlag"
      ></app-profile-games>
    </div>
  </div>
</div>
