<div class="form-container">
  <form class="form" (ngSubmit)="onSignUp(f)" #f="ngForm">
    <div class="heading">Sign Up</div>
    <div class="alert btn-red" *ngIf="!isLoading && showAlert">
      <p>{{ alertMessage }}</p>
    </div>
    <div class="spinner" *ngIf="isLoading">
      <fa-icon class="spinner-icon" [icon]="faSpinner"></fa-icon>
    </div>
    <div class="form-content">
      <div class="input-group">
        <label for="inp1"> Email </label>
        <input
          type="email"
          name="email"
          ngModel
          class="form-control"
        />
      </div>
      <div class="input-group">
        <label for="login"> Login </label>
        <input
          type="login"
          name="login"
          ngModel
          class="form-control"
        />
      </div>
      <div class="input-group">
        <label for="password"> Password </label>
        <input
          type="password"
          name="password"
          ngModel
          class="form-control"
        />
      </div>
      <div class="input-group">
        <label for="password2">Confim password </label>
        <input
          type="password"
          name="password2"
          ngModel
          class="form-control"
        />
      </div>
      <p style="display: block; margin: 5px 0 5px 0; font-size: 12px;">Profile details:</p>
      <div class="input-group">
        <label for="firstname">First name </label>
        <input
          type="text"
          name="firstname"
          ngModel
          class="form-control"
        />
      </div>
      <div class="input-group">
        <label for="lastname">Last name </label>
        <input
          type="text"
          name="lastname"
          ngModel
          class="form-control"
        />
      </div>
      <div class="input-group">
        <label for="city">Location </label>
        <input
          type="text"
          name="city"
          ngModel
          class="form-control"
        />
      </div>
      <div class="input-group" style="text-align: center">
        <label for="age">Age </label>
        <input
          type="number"
          name="age"
          ngModel
          class="form-control"
          min="1"
          max="100"
        />
      </div>
      <button class="btn-submit btn-forum btn-yellow" type="submit">SIGN UP</button>
    </div>
    <div class="footer">
      <p>Already have an account? <a [routerLink]="['/sign-in']">Sign in</a></p>
    </div>
  </form>
</div>
