<div class="form-container">
  <form class="form" (ngSubmit)="onSignUp(f)" ngNativeValidate>
    <div class="heading">Sign Up</div>
    <div class="alert alert-success" *ngIf="accMsg == true">
      <strong>Success!</strong> Account created succesfully!
    </div>
    <div class="form-content">
      <div class="input-group">
        <label for="inp1" class="inp"> Email </label>
        <input
          type="email"
          id="inp1"
          name="email"
          ngModel
          class="form-control"
        />
      </div>
      <div class="input-group">
        <label for="inp2" class="inp"> Login </label>
        <input
          type="login"
          id="inp2"
          name="login"
          ngModel
          class="form-control"
        />
      </div>
      <div class="input-group">
        <label for="inp3" class="inp"> Password </label>
        <input
          type="password"
          id="inp3"
          name="password"
          ngModel
          class="form-control"
        />
      </div>
      <div class="input-group">
        <label for="inp4" class="inp">Confim password </label>
        <input
          type="password"
          id="inp4"
          name="password2"
          ngModel
          class="form-control"
        />
      </div>
      <button class="btn-submit btn-forum btn-yellow" type="submit">SIGN UP</button>
    </div>
    <div class="footer">
      <p>Already have an account? <a [routerLink]="['/sign-in']">Sign in</a></p>
    </div>
  </form>
</div>
