<div class="container" style="padding-bottom: 100px;">
  <div class="loading" *ngIf="isLoadingGame && isLoadingForum">Loading...</div>
  <app-game-view
    *ngIf="!isLoadingGame"
    [iAmGameMaster]="iAmGameMaster"
    [profileData]="profileData"
    [gameData]="gameData"
    [gameMaster]="gameMaster"
  ></app-game-view>
  <app-forum
    *ngIf="iAmGameParticipant && !isLoadingForum"
    [iAmGameMaster]="iAmGameMaster"
    [profileData]="profileData"
    [gameData]="gameData"
    [forumData]="forumData"
    [topicToPersonData]="topicToPersonData"
  ></app-forum>
</div>
