.form-create {
    margin-top: 25px;
}
.default-font {
    color: black;
}
#btn-send {
    width: 125px;
    background-color: #caffca6c;
    border-color: #e2ffdad3;
}
#btn-send:hover {
    background-color: #b1fcb1c2;
    border-color: #c0f7b1d3;
}
#btn-back {
    width: 125px;
    background-color: #fff5bf6c;
    border-color: #fff5dad3;
}
#btn-back:hover {
    background-color: #fcf1b1c0;
    border-color: #fff5daef;
}
.btn-ico {
    width: 30px;
}