@import './_variables'
@import './_mixins'

@font-face
    font-family: 'BarkingCat'
    src: local('BarkingCat'), url(./fonts/BarkingCat.otf) format('opentype')

html, body
    width: 100vw
    height: 100vh
    margin: 0
    padding: 0
    overflow-x: hidden
    font-family: Montserrat, sans-serif
    @include radial-gradient(center, #fff, 0%, $primary, 80%)

.row
    margin: 0
    .col-md-6
        padding: 0

.center
    display: flex
    justify-content: center
    align-items: center
p
    margin: 0
a
    color: black
    text-decoration: none
    &:hover
        color: $third
        text-decoration: none
.clickable
    cursor: pointer
    &:hover
        color: $third
.font-fofer
    font-size: 33.333px
    font-weight: 500
    text-anchor: middle
    font-family: Fofer

.font-montserrat
    font-size: 12px
    line-height: 1.42857143
    letter-spacing: 4px
    font-family: Montserrat, sans-serif

.blur-overlay
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 1
    backdrop-filter: blur(4px)
    opacity: 0
    animation: fadeIn 0.5s ease-in-out forwards

.btn
    font-family: BarkingCat
    border: none
    border-radius: 10px
    box-shadow: 3px 3px 5px -3px black
    text-transform: uppercase
    transition: 0.3s
    font-size: 1.5em
    &:hover
        letter-spacing: 2px
        box-shadow: 3px 3px 10px -3px black
    .btn-ico
        width: 15px
        margin-right: 5px
        margin-top: -5px
.btn-yellow
    @include radial-gradient3(bottom, $primary, $gradientStart, $fourth $gradientSpread, $third 200%)
    &:hover
        @include radial-gradient3(top, $primary, $gradientStart, $fourth $gradientSpread, $third 200%)
.btn-red
    @include radial-gradient3(bottom left, $primary, $gradientStart, $third $gradientSpread, $fourth 200%)
    &:hover
        @include radial-gradient3(top right, $primary, $gradientStart, $third $gradientSpread, $fourth 200%)
.btn-blue
    @include radial-gradient(bottom right, $primary, $gradientStart, $secondary, 100%)
    &:hover
        @include radial-gradient(top left, $primary, $gradientStart, $secondary, 100%)
.btn-green
    @include radial-gradient(bottom right, $primary, $gradientStart, $green, 100%)
    &:hover
        @include radial-gradient(top left, $primary, $gradientStart, $green, 100%)

.btn-forum
    display: inline-block
    margin: 5px
    height: 50px
    width: 120px
    min-width: 120px
    max-width: 120px
    color: white
    border-radius: 5px
    border: none
    cursor: pointer
    background-color: $green
    transition: all 0.1s ease-in-out
    @media screen and ( max-width: 992px )
        flex: 1
    &:hover
        transform: scale(0.9)
        box-shadow: 0px 0px 1px 1px $green
        .btn-text
            text-align: center
            line-height: 1.15
            font-size: 0.8em
            margin: 0
    .btn-ico
        width: 15px
        margin-right: 5px
        margin-top: -5px
.btn-sm
    width: 100px
.btn-green
    background-color: #caffca6c
    border-color: #e2ffdad3
.btn-green:hover
    background-color: #b1fcb1c2
    border-color: #c0f7b1d3
.btn-yellow
    background-color: #fff5bf6c
    border-color: #fff5dad3
.btn-yellow:hover
    background-color: #fcf1b1c0
    border-color: #fff5daef
.btn-blue
    background-color: #abd7fa6c
    border-color: #e9ebfdd3
.btn-blue:hover
    background-color: #9ed2fcc5
    border-color: #e9ebfde0

.profile-link
    display: inline-grid
    grid-template-columns: 1fr 3fr
    cursor: pointer
    font-size: 1em
    @media screen and ( max-width: 730px )
        display: table-cell
        text-align: center
        vertical-align: middle
        font-size: 0.9em
    &:hover
        color: $third
        img
            @include border-shadow(2px, 2px, 50%, $third)
    img
        height: 50px
        width: 50px
        border-radius: 50%
        margin-right: 10px
        @media screen and ( max-width: 430px )
            height: 40px
            width: 40px
            vertical-align: middle
    .name
        line-height: 50px
        @media screen and ( max-width: 730px )
            line-height: 1em
            vertical-align: middle

.alert
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    min-height: 100px
    min-width: 200px
    width: 40%
    text-align: center
    vertical-align: middle
    color: white
    @include border-shadow-default()
