@media screen and (max-width: 545px) {
    .text-outline {
        -webkit-text-stroke: 1px black;
        color: white;
        text-shadow:
            1px 1px 0 #000,
          -1px -1px 0 #000,  
           1px -1px 0 #000,
           -1px 1px 0 #000,
            1px 1px 0 #000;
        font-size: 25px;
        letter-spacing: 4px;
        font-family: Montserrat, sans-serif;
    }
    .information {
        background-image: url("assets/notepad.png");
        background-repeat: no-repeat;
        margin-top: 50px;
        margin-left: -60px;
        padding-top: 60px;
        padding-left: 85px;
        max-width: 1074px;
        color: #252525;
        font-family: Montserrat, sans-serif;
        border-radius: 30px 0 0 0;
        box-shadow:  15px -10px 15px -15px rgba(0, 0, 0, 0.2),  5px 0 5px -5px rgba(0, 0, 0, 0.19);
    }
    #information-text {
        position: absolute;
        margin: 70px 0 0 35px;
    }
}
@media screen and (max-width: 500px) {
    .btn-big {
        display: none;
    }
    .btn-mobile {
        display: block;
    }
}
@media screen and (min-width: 500px) {
    .btn-mobile {
        display: none;
    }
}

.container-view-profile {
    position: relative; 
    width: 100%;
}
.btn-text {
    line-height: 1.15;
    padding: 5px 0 0 45px;
    position: absolute;
}
.btn-wrap {
    position: absolute;
    right: 15px;
    margin-top: -25px;
    color: #000000;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif;
}
.btn-profile {
    border-radius: 10px 10px 10px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f1efef;
    background-repeat: no-repeat;
    display: inline-block;
    height: 45px;
    width: 150px;
    cursor: pointer;
    border-style: solid;
    border-color: rgba(112, 112, 112, 0.322);
    border-width: 1px;
}
.btn-big {
}
.btn-mobile {
}


#send_message {
    background-image: url("assets/btn-msg.png");
}
#send_message:hover {
    background-image: url("assets/btn-msg-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
    color: #f4511e;
}

#send_invite {
    background-image: url("assets/btn-send-invite.png");
}
#send_invite:hover {
    background-image: url("assets/btn-send-invite-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
    color: #f4511e;
}
#invite_waiting {
    background-image: url("assets/btn-invited.png");
}
#invite_waiting:hover {
    background-image: url("assets/btn-invited-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
    color: #f4511e;
}
#delete_friend {
    background-image: url("assets/btn-delete-friend.png");
}
#delete_friend:hover {
    background-image: url("assets/btn-delete-friend-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
    color: #f4511e;
}

#change_personal_data {
    background-image: url("assets/btn-pdata.png");
}
#change_personal_data:hover {
    background-image: url("assets/btn-pdata-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
    color: #f4511e;
}

#change_passwrod {
    background-image: url("assets/btn-pass.png");
}
#change_passwrod:hover {
    background-image: url("assets/btn-pass-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
    color: #f4511e;
}

#change_image {
    background-image: url("assets/btn-image.png");
}
#change_image:hover {
    background-image: url("assets/btn-image-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
    color: #f4511e;
}

#settings {
    background-image: url("assets/btn-pdata.png");
}
#settings:hover {
    background-image: url("assets/btn-pdata-hover.png");
    background-color: rgb(244, 81, 30, 0.1);
    color: #f4511e;
}

.table-info {
    color: #252525;
    font-family: Montserrat, sans-serif;
}

.modal-header {
    background-color: #f1efef;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
}

.modal-title {
    border-color: transparent;
    color: #000000 !important;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.modal-btn-close {
    border-color: transparent;
    color: #000000;
}

.modal-content {
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    background-color: #e4e3e3;
}

.modal-body {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 19px;
}

.btn-confirm {
    margin-left: 40%;
    margin-right: 40%;
}
.content-body {
    padding-bottom: 0px !important;
}