@import '../../_variables'
@import '../../_mixins'

nav
    position: fixed
    z-index: 111
    width: 100vw
    height: 56px
    padding: 0 10vw
    //background-color: $primary
    .navbar-collapse
        height: 100%
        ul 
            height: 100%
            li
                padding: 0 10px
                color: black
                cursor: pointer
                border-bottom: 1px solid #00000071
                &:hover
                    color: $third
                    background-color: #fff
                &:focus
                    color: $secondary
                    background-color: #fff
                a
                    color: inherit
            .link
                height: 100%
                display: flex
                align-items: center
                justify-content: center
            .opt
                text-align: center
                background-color: $primary
            
