<nav class="navbar navbar-expand-lg navbar-light font-montserrat">
  <a class="navbar-brand" href="home"
    ><img src="assets/logo.png" alt="Logo"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto my-2 my-lg-0">
      <li class="link">
        <a href="search-game/search">FIND GAME</a>
      </li>
      <li class="link">
        <a href="create-game">CREATE GAME</a>
      </li>
      <li class="link">
        <a href="search-friends/search">SERACH FRIENDS</a>
      </li>
      <li class="link" *ngIf="!isLoggedIn">
        <a href="search-friends/search">SIGN IN</a>
      </li>
      <li class="link" *ngIf="!isLoggedIn">
        <a href="search-friends/search">SIGN UP</a>
      </li>
      <li
        class="link"
        data-toggle="dropdown"
        (click)="fixDropdown()"
        *ngIf="isLoggedIn"
      >
        <div class="dropdown drop" id="workffs">
          <div id="accountDropdown">
            MY ACCOUNT
            <span *ngIf="checkActiveNotifications()">(!)</span>
            <span class="caret"></span>
          </div>
          <ul class="dropdown-menu drop-opt" id="dropdown-menu">
            <li class="opt">
              <a href="#" (click)="goToMyProfile()">My Profile</a>
            </li>
            <li class="opt">
              <a href="#" id="messages" (click)="goToMyAccount($event)"
                >Messages <span *ngIf="notificationSet.message">(!)</span></a
              >
            </li>
            <li class="opt">
              <a href="#" id="games" (click)="goToMyAccount($event)"
                >My Games <span *ngIf="notificationSet.games">(!)</span></a
              >
            </li>
            <li class="opt">
              <a href="#" id="friends" (click)="goToMyAccount($event)"
                >Friends <span *ngIf="notificationSet.friends">(!)</span></a
              >
            </li>
            <li class="opt">
              <a href="#" id="settings" (click)="goToMyAccount($event)"
                >Settings</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="link" *ngIf="isLoggedIn">
        <a href="home" (click)="onLogout()">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>
