<div *ngIf="isLoading === false" class="list-wrap">
  <div class="friend-wrap" *ngFor="let player of friendsAccepted; index as i">
    <a
      class="profile-link"
      role="button"
      [routerLink]="['/profile', player.data.login]"
    >
      <img
        *ngIf="player.photo"
        [src]="player.photo"
        alt="Profile image"
      />
      <img
        *ngIf="player.photo == null"
        src="assets/unknown-no-bg.png"
        alt="Profile image"
      />
      <span class="name">{{ player.data.firstname }} {{ player.data.lastname }} ({{
        player.data.login
      }})</span>
    </a>
  </div>
</div>

<div *ngIf="isMyProfileFlag == true && invitations.length > 0" class="list-wrap">
  <p>Invitations:</p>
  <table>
    <colgroup>
       <col span="1" style="width: 80%;">
       <col span="1" style="width: 20%;">
    </colgroup>
    <tbody>
      <tr *ngFor="let player of invitations">
        <td>
          <a
            class="profile-link"
            role="button"
            [routerLink]="['/profile', player.data.login]"
          >
            <img
              *ngIf="player.photo"
              [src]="player.photo"
              alt="Profile image"
            />
            <img
              *ngIf="player.photo == null"
              src="assets/unknown-no-bg.png"
              alt="Profile image"
            />
            <span class="name">{{ player.data.firstname }} {{ player.data.lastname }} ({{
              player.data.login
            }})</span>
          </a>
        </td>
        <td class="details">
            <button
              type="button"
              class="btn-accept"
              (click)="onAcceptFriend(game.id)"
            >
              <fa-icon class="star-icon" title="Accept" [icon]="faCheck"></fa-icon>
            </button>
            <button
              type="button"
              class="btn-decline"
              (click)="onRemoveFriend(game.id)"
            >
              <fa-icon class="star-icon" title="Decline" [icon]="faTimes"></fa-icon>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="isLoading" class="loading">Loading...</div>
