<div class="container main">
  <div class="content">
  
    <div class="content-top">
      <div class="row">
        <div class="col-md-3">
            <img src="assets/unknown.png" alt="Profile image" class="profile-photo" *ngIf="defaultImage == true">
            <img [src]="imageToShow" alt="Profile image" class="profile-photo" *ngIf="defaultImage == false">
        </div>
        <div class="col-md-4">
          <span class="text-outline" id="big-name">{{ userProfileData.firstname }} {{ userProfileData.lastname }}</span>
          <span class="title-panel-sm" id="nickname">{{ userProfileData.login }}</span>
        </div>
        <div class="col-md-5">
          <div class="nav-tabs-wrap">
            <nav class="navbar">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#profileNavbar">
                      <span class="icon">More...</span>                      
                    </button>
                  </div>
                  <div class="collapse navbar-collapse" id="profileNavbar">
                    <ul class="nav navbar-nav navbar-right nav-tabs">
                      <li class="active" id="nav-profile">
                        <a (click)="onNavClick($event)" id="anav-profile">
                          <span (click)="onNavClick($event)" id="anav-profile" class="glyphicon glyphicon-user"></span> 
                          Profile
                        </a>
                        </li>
                      <li id="nav-friends" >
                        <a (click)="onNavClick($event)" id="anav-friends">
                          <span (click)="onNavClick($event)" id="anav-friends" class="glyphicon glyphicon-list-alt">
                          </span> Friends
                        </a>
                      </li>
                      <li id="nav-games">
                        <a (click)="onNavClick($event)" id="anav-games">
                          <span (click)="onNavClick($event)" id="anav-games" class="glyphicon glyphicon-tower"></span> 
                          Games</a>
                        </li>
                    </ul>
                  </div>
              </nav>
            </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <app-view-profile *ngIf="profileChild == true" [userProfileData]="userProfileData" [myProfileData]="myProfileData" [isInvited]="isInvited" [isFriend]="isFriend" [ourRelation]="ourRelation" [myProfilePage]="myProfilePage"></app-view-profile>
      <app-view-friends *ngIf="friendsChild == true" [userFriends]="userFriends" [myFriends]="myFriends" [myProfilePage]="myProfilePage"></app-view-friends>
      <app-view-games *ngIf="gamesChild == true" [userGamesAPPList]="userGamesAPPList" [myGamesAPPList]="myGamesAPPList" [myProfilePage]="myProfilePage"></app-view-games>
    </div>
  </div>
</div>
