.content {
  padding-top: 0px;
  margin-top: 50px;
}
.content-top {
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px -5px #333;
}
.title-panel {
  position: absolute;
  padding: 60px 0 0 50px;
}
.btns-admin {
  float: right;
}
.media {
  padding: 5px 10px 0px 10px;
  background-color: #ffffff8c;
  border-radius: 10px 10px 10px 10px;
}
.media-left {
  padding: 10px 0px;
}
.media-body {
  text-align: left; 
  padding-left: 15px;
}
.media-heading {
}
.media-bottom {
  border-top-style: solid;
  border-color: #e4e3e39a;
  margin: 0px;
}
img {
  width: 40px;
}
.table-responsive {
  margin-top: 100px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle; 
  text-align: center; 
}
thead {
  color: black;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
td {
  line-height: 2 !important;
  max-width: 600px;
}
.topic-title {
  color: #30303094;
  font-size: 19px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.default-font {
  color: #30303094;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 1px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.link {
  color: #303030;
  letter-spacing: 4px;
  cursor: pointer;
}
.link:hover {
  color: #f4511e;
}
.pagination {
  margin: 0px 0px;
  padding: 10px 0px;
  margin-left: 30px;
}
.pagination>li>a, .pagination>li>span {
  float: none;
  color: #f4511e;
  font-size: 12px !important;
  padding: 4px 8px;
}

.title-panel-btns {
  padding-top: 60px;
  margin-right: 25px;
}
.btn-wrap {
  margin-top: 25px;
  float: right;
}
.btn-ico {
  width: 15px; 
  margin-right: 5px;
  margin-top: -5px;
}
.btn-forum {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  background-color: #b1dafc6c;
  border-color: #daebffd3;
  border-width: 2px;
  color: #252525;
  cursor: pointer;
}
.btn-forum:hover {
  color: #f4511e;
  background-color: #9ed2fcb4;
  border-color: #e9ebfde0;
}
#btn-add-topic {
  background-color: #caffca6c;
  border-color: #e2ffdad3;
}
#btn-add-topic:hover {
  background-color: #b1fcb1c2;
  border-color: #c0f7b1d3;
}
#btn-your-character {
  background-color: #abd7fa6c;
  border-color: #e9ebfdd3;
}
#btn-your-character:hover {
  background-color: #9ed2fcc5;
  border-color: #e9ebfde0;
}
#btn-game-page {
  background-color: #fff5bf6c;
  border-color: #fff5dad3;
}
#btn-game-page:hover {
  background-color: #fcf1b1c0;
  border-color: #fff5daef;
}