<div class="container">
  <div class="spinner" *ngIf="isLoadingGame && isLoadingForum">
    <fa-icon class="spinner-icon" [icon]="faSpinner"></fa-icon>
  </div>
  <app-game-view
    *ngIf="!isLoadingGame"
    [showGameViewContent]="showGameViewContent"
    [iAmGameMaster]="iAmGameMaster"
    [profileData]="profileData"
    [gameData]="gameData"
    [gameMaster]="gameMaster"
    [acceptedPlayers]="acceptedPlayers"
    [waitingSelfRequested]="waitingSelfRequested"
    [waitingInvited]="waitingInvited"
  ></app-game-view>
  <app-forum
    *ngIf="(iAmGameParticipant || iAmGameMaster) && !isLoadingForum"
    [iAmGameMaster]="iAmGameMaster"
    [profileData]="profileData"
    [gameData]="gameData"
    [forumData]="forumData"
    [topicToPersonData]="topicToPersonData"
    [gameMaster]="gameMaster"
    [acceptedPlayers]="acceptedPlayers"
    [acceptedPlayersCards]="acceptedPlayersCards"
    [waitingSelfRequested]="waitingSelfRequested"
    [waitingInvited]="waitingInvited"
  ></app-forum>
</div>
