<div class="container jumbotron">
  
    <h2>You are inviting to your {{ gameData.title }} game!</h2>
  
    <p>Friends list:</p>                                                                                      
    <div class="table-responsive">          
    <table class="table">
      <tbody>
        <tr *ngFor="let friend of friendsAcceptedPhoto; let i = index">
          <td>
            <img [src]="friend.photo" alt="Profile image" style="width:100px; height: 100px">
          </td>
          <td style="padding-top: 2%">
            <h2 role="button" [routerLink]="['/profile', friend.personalData.login]">{{friend.personalData.firstname}} {{friend.personalData.lastname}} ({{friend.personalData.login}})</h2>
          </td>
          <td style="padding-top: 3%">
            <span *ngIf="!isInGame(friend.personalData)" role="button" id="card{{i}}" class="glyphicon glyphicon-envelope book-icon" title="Invite" (click) = invitePlayer(friend.personalData)></span> 
          </td>  
        </tr>
      </tbody>
    </table>
    </div>
  </div>